{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <title>GRAND</title>
</head>
<body>

{% load widget_tweaks %}

<!-- Header -->
<nav class="navbar bg-dark navbar-dark navbar-expand-sm">
    <div class="container">
        <a class="navbar-brand m-0" href="/">
            <img src="{% static 'images/logo.svg' %}" style="width: 400px;">
        </a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Networks</a>
            <div class="dropdown-menu">
              <a href="/drugs" class="dropdown-item">Small molecules</a>
              <a href="/cell" class="dropdown-item">Cell lines</a>
              <a href="/tissues" class="dropdown-item">Tissues</a>
            </div>
          </li>
             <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Analysis</a>
          <div class="dropdown-menu">
            <a href="/analysis" class="dropdown-item">Small molecules</a>
            <a href="/disease" class="dropdown-item">Disease/Tissues</a>
          </div>
        </li>
            <a class="nav-item nav-link" href="/help">Help</a>
            <a class="nav-item nav-link" href="/about">Contact</a>
            <a class="nav-item nav-link" href="https://github.com/QuackenbushLab/grand"><i class="fab fa-github fa-lg"></i></a>
        </div>
    </div>
</nav>

<!-- Footer -->
<nav class="navbar navbar-dark navbar-expand-sm fixed-bottom bg-dark">
  <div class="container">
      <a class="navbar-brand m-0" href="https://www.hsph.harvard.edu/biostatistics/">
          <img src="{% static 'images/footer-01.svg' %}" style="width: 400px;">
      </a>
      <div class="navbar-nav navbar-expand-sm">
          <a class="nav-item nav-link" href="https://twitter.com/intent/tweet?text=GRAND: Integrated gene regulatory network database of cell lines, tissues, and small molecules. http://grand.tm4.org"><i class="fab fa-twitter-square fa-2x"></i></a>
          <a class="nav-item nav-link" href="http://www.facebook.com/sharer/sharer.php?u=http://hsph.harvard.edu"><i class="fab fa-facebook-square fa-2x"></i></a>
          <a class="nav-item nav-link" href="https://www.linkedin.com/sharing/share-offsite/?url=http://hsph.harvard.edu"><i class="fab fa-linkedin fa-2x"></i></a>
          <a class="nav-item nav-link" href="mailto:aa@aa.com"><i class="fas fa-envelope-square fa-2x"></i></a>
          <a class="nav-item nav-link" href="https://creativecommons.org/licenses/by-sa/4.0/"><i class="fab fa-creative-commons fa-2x"></i></a>
      </div>
  </div>
</nav>

<div class="container mt-5">
        <div class="form-area"> 
              <form action="{% url 'analysis' %}" role="form" method="post">
	 	   {% csrf_token %}
                   <div class="row">

                   <div class="col-md-5"> 
                   <div class="form-group">
                        {% render_field geneform.contentup class="form-control" placeholder="Highly targeted genes/TFs" %}                
                   </div>
                   <div class="form-group">
                        {% render_field geneform.contentdown class="form-control" placeholder="Lowly targeted genes/TFs" %}
                   </div>
                   <div class="form-actions button-box">
                   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="/analysisexampletfs" class="btn btn-info" role="button">Example TFs</a>&nbsp;<a href="/analysisexample" class="btn btn-info" role="button">Example genes</a>
                   <button type="submit"  name="submit" class="btn btn-primary" id="btnFetch">
                   <span id="mySpinner" class="d-none">
                   <span class="spinner-border spinner-grow-sm text-light" role="status" aria-hidden="true"></span>
                   </span>
                   Submit</button>
                   </div>
                   </div>

                    <div class="col-md-2">
                    <div class="col">
                       <br> <br> <br> <br> <br> <br> <br> <br><br><br>
                       <div class="form-group">
                       {% for radio in geneform.tfgene %}
		       <div>
    		          {{ radio }}
		       </div>
		       {% endfor %}
                       </div>
                    </div>
                    </div>

                   <div class="col-md-5"> 
                   <p align="justify">Gene targeting by TFs is a strong predictor of disease state and <a href="https://cancerres.aacrjournals.org/content/78/19/5538.short">drug action</a>. The <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0064832">PANDA</a> algorithm reconstructs a bipartite TF-gene regulatory network
                   using gene expression, TF binding motif, and TF-TF PPI network as priors and allows computing a targeting score for each gene, which is the weighted in-degree 
                   for that gene.</p>
        	   <p align="justify">Using PANDA, we computed differential targeting scores for 19789 small molecules using the <a href="http://clue.io">Connectivity Map</a> and derived the drug-induced up-targeted and down-targeted 
                   genes among 12282 genes. You can submit your list of up-targeted and down-targted genes for a given condition or disease and get back a list of compounds that
                   optimally either reverse or aggravate the input signature. The gene format is in ENSEMBL gene id like in <a href="/analysisexample">the example</a>.</p>
                   <p align="justify">Similarly, TF targeting of genes can be used as a surrograte for drug activity. We computed the TF targeting of  644 TFs from <a href="/drugs"> PANDA drug networks</a> as the weighted outdegree of each TF. TF gene format is in gene symbol as in the <a href="/analysisexampletfs">the example</a>.
                   This tool allows you to find the drug that reverse the gene targeting or the TF targeting profile of the query set. If you would like to perform the analysis on gene expression, check the excellent tools from Ma'ayan lab: <a href="http://amp.pharm.mssm.edu/L1000FWD/">L1000 Fireworks</a>, <a href="https://amp.pharm.mssm.edu/L1000CDS2/#/index">L1000 CDS2</a>, and <a href="http://www.maayanlab.net/LINCS/LCB/#.XYO9d5NKi_U">L1000 Canvas Browser</a>.</p>
                   </div>

                  </div>
               </form>
         </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
    $("#btnFetch").click(function() {
        $("#mySpinner").removeClass("d-none")
    })
});
</script>
</body>
</html>

