{% load static %} 
{% include "header.html" %}
{% load widget_tweaks %}

<div class="offset-sm-1 col-10 mt-5 mb-5">
        <div class="form-area"> 
              <form action="{% url 'analysis' %}" role="form" method="post">
	 	   {% csrf_token %}
                   <div class="row">

                   <div class="col-md-5"> 
                   <div class="card h-100">
                   <h5 class="card-header">Gene/TF list</h5>
		  <div class="card-body">
		    <h5 class="card-title">Enter the Gene/TF list below.</h5>
		    <p class="card-text">The gene format is in ENSEMBL gene id like in <a href="/analysisexample">the example</a>. TF gene format is in <a href="https://www.genenames.org/">gene symbol</a> as in the <a href="/analysisexampletfs">the example</a>.
                   <div class="form-group">
                        {% render_field geneform.contentup class="form-control" placeholder="High-targeted genes/TFs" %}                
                   </div>
                   <div class="form-group">
                        {% render_field geneform.contentdown class="form-control" placeholder="Low-targeted genes/TFs" %}
                   </div>
                   <div class="form-actions button-box">
                   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="/analysisexampletfs" class="btn btn-info" role="button">Example TFs</a>&nbsp;<a href="/analysisexample" class="btn btn-info" role="button">Example genes</a>
                   <button type="submit"  name="submit" class="btn btn-primary" id="btnFetch">
                   <span id="mySpinner" class="d-none">
                   <span class="spinner-border spinner-grow-sm text-light" role="status" aria-hidden="true"></span>
                   </span>
                   Submit</button>
                   </div>
                   </div>
                   </p>
                   </div>
                   </div>

                    <div class="col-md-2">
                    <div class="card h-100">
			   <h5 class="card-header">Parameters</h5>
			  <div class="card-body">
			    <p class="card-text">Select parameters for the analysis.
                    <div class="col">
                       <br> <br> <br> <br> <br> <br> <br> 
                       <div class="form-group">
                       {% for radio in geneform.tfgene %}
		       <div>
    		          <small>{{ radio }}</small>
		       </div>
		       {% endfor %}
                       </div>
                       {{ geneform.brd }} <small>Remove investigational drugs</small>
                    </div>
                    </div>
                    </p>
                    </div>
                    </div>

                   <div class="col-md-5"> 
	                  <div class="card h-100">
		           <h5 class="card-header">Description</h5>
		  <div class="card-body">
		    <h5 class="card-title">Drug network reconstruction</h5>
		    <p class="card-text">
                        <p align="justify">CLUEreg is a webserver that finds small molecule candidates that reverse a given regulatory signature. The regulatory signature of each compound was estimated from their differential expression from the <a href="http://clue.io">CLUE</a> resource.
	           </p>
        	   <p align="justify">Using <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0064832">PANDA</a> to reconstruct TF-gene bipartite regulatory network, we computed differential targeting scores for 19789 small molecules and derived the drug-induced up-targeted and down-targeted 
                   genes among 12328 genes. The targeting score for each gene is the weighted in-degree for that gene in the network. You can submit your list of up-targeted and down-targeted genes for a given condition or disease and get back a list of compounds that
                   optimally either reverse or exacerbate the input signature.</p>
                   <p align="justify">Similarly, TF targeting of genes can be used as a surrograte for drug activity. We computed the TF targeting of  644 TFs from <a href="/drugs"> PANDA drug networks</a> as the weighted outdegree of each TF.
                   If you would like to perform the analysis on gene expression, check these excellent tools: <a href="https://clue.io">CLUE</a>, <a href="http://amp.pharm.mssm.edu/L1000FWD/">L1000 Fireworks</a>, <a href="https://amp.pharm.mssm.edu/L1000CDS2/#/index">L1000 CDS2</a>, and <a href="http://www.maayanlab.net/LINCS/LCB/#.XYO9d5NKi_U">L1000 Canvas Browser</a>.</p>
                   </p>
                   </div>
                   </div>

                  </div>
               </form>
         </div>
</div>

</div>
{% include "footer.html" %}

<script>
$(document).ready(function() {
    $("#btnFetch").click(function() {
        $("#mySpinner").removeClass("d-none")
    })
});
</script>
</body>
</html>

