{% load static %} 
{% include "header.html" %}


<div class="container pb-5 mb-5 mt-4">
  <center>  <h3><span class="badge bg-secondary">Cancer tissues</span></h1> The cancer tissues resource includes 28 aggregate cancer-specific gene regulatory networks and sample-specific networks for 1,023 glioblastoma patients, 1,638 colon cancer patients, and 150 pancreatic cancer patients derived from TCGA and GEO data.  <br><br></center>
    <div class='row'>
      <div class='col'>
      <canvas id="cancerbubble" style="width:100%; height:300px;"></canvas>
      <p style="font-family: Helvetica; color: #333; padding: 1em 2em; font-size: 12px">
        Click on the bar plot to filter the table below.
      </p>
      </div>
      <div class='col'>
      <canvas id="cancerbubble2" style="width:100%; height:300px;"></canvas>
      </div>
      <div class='col'>
      <canvas id="cancerbubble3" style="width:100%; height:300px;"></canvas>
      </div>
    </div>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item hidden">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Cancer tissue networks
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        <table id="tissuestable" class="table table-hover" style="width: 100%">
                <thead>
                  <tr>
                    <th scope="col">Cancer</th>
                    <th scope="col">Tissue</th>
                    <th scope="col">TCGA code</th>
                    <th scope="col">Methods</th>
                    <th scope="col">Network Types</th>
                    <th scope="col">Datasets</th>
                  </tr>
                </thead>
                <tbody>
		 {% for cc in cancer %}
        {% if cc.disp == 'y' %}
        <tr>
          <td><a href="{{ cc.tcgacode }}_cancer" class="text-decoration-none">{{ cc.cancer }}</a></td>
          <td>{{ cc.tissue }}</td>
          <td>{{ cc.tcgacode }}</td>
          {% if cc.nnets2 == "" %}
            <td><a href="{{ cc.nnetsref }}" class="text-decoration-none" target="_blank">{{ cc.nnets }}</a></td>
          {% else %}
            <td><a href="{{ cc.nnetsref }}" class="text-decoration-none" target="_blank">{{ cc.nnets }}</a>, <a href="{{ cc.nnets2ref }}" class="text-decoration-none" target="_blank">{{ cc.nnets2 }}</a></td>
          {% endif %}
          <td>{{ cc.types }}</td>
          {% if cc.datasets2 == "" %}
            <td><a href="{{ cc.datasetsref }}" class="text-decoration-none" target="_blank">{{ cc.datasets }}</a></td>
          {% else %}
            <td><a href="{{ cc.datasetsref }}" class="text-decoration-none" target="_blank">{{ cc.datasets }}</a>, <a href="{{ cc.datasets2ref }}" class="text-decoration-none" target="_blank">{{ cc.datasets2 }}</a></td>
          {% endif %}
        </tr>
        {% endif %}
		 {% endfor %}
                </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="hidden">
  {% include "footer.html" %}
</div>

<script> 
  var data2 = JSON.parse("{{data|escapejs}}");  
</script>
<script src="{% static 'js/bubbleChart.js' %}"></script>
<script>
  $(document).ready(function () {
    $('div.hidden').fadeIn(300).removeClass('hidden');
});
</script>

</body>
</html>