{% load static %} 
{% include "header.html" %}

<div class="hidden">
<div class="container pb-5 mb-5 mt-4">
  <center>  <h3><span class="badge bg-secondary">Cell lines</span></h1> The cell line resource includes 1,376 sample-specific gene regulatory networks for TF regulation derived from CCLE data, 6 aggregate networks, and 359 genotype-specific networks in normal human cell lines modeling miRNA and TF regulation from <a href="https://gtexportal.org/" target="_blank" class="text-decoration-none">GTEx</a> data, and an aggregate miRNA network across all <a href="https://portals.broadinstitute.org/ccle" target="_blank" class="text-decoration-none">CCLE</a> cell lines.<br><br></center>
  <div class="row">
  <div class=" col-md-8">
    <canvas id="cellbar" style="width:100%; height:400px;"></canvas>
    <p style="font-family: Helvetica; color: #333; padding: 1em 2em; font-size: 12px">
      Click on the bar plot to filter the table below.
    </p>
  </div>
  <div class=" col-md-4">
    <canvas id="cancerbubble" style="width:100%; height:400px;"></canvas>
    <p style="font-family: Helvetica; color: #333; padding: 1em 2em; font-size: 12px">
      Bubble size reflects the number of regulators (TFs/miRNA) in the network. Click on the bubble plot to filter the table below.
    </p>
  </div>
</div>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Cancer types
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        <table id="tissuestable" class="table table-hover" style="width: 100%">
                <thead>
                  <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Tissue type</th>
                    <th scope="col">Methods</th>
                    <th scope="col">Regulator</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Network types</th>
                    <th scope="col">Datasets</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tissue in cellspage %}
                  <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td><a href="{{ tissue.urllinks }}" class="text-decoration-none">{{ tissue.tissue }}</a></td>
                  {% if tissue.methodrefs2 == '' %}
                    <td><a href="{{ tissue.methodrefs }}" target="_blank" class="text-decoration-none">{{ tissue.method }}</a></td>
                  {% elif tissue.methodrefs3 == '' %}
                    <td><a href="{{ tissue.methodrefs }}" target="_blank" class="text-decoration-none">{{ tissue.method }}</a>, <a href="{{ tissue.methodrefs2 }}" target="_blank" class="text-decoration-none">{{ tissue.method2 }}</a></td>
                  {% else %}
                    <td><a href="{{ tissue.methodrefs }}" target="_blank" class="text-decoration-none">{{ tissue.method }}</a>, <a href="{{ tissue.methodrefs2 }}" target="_blank" class="text-decoration-none">{{ tissue.method2 }}</a>, <a href="{{ tissue.methodrefs3 }}" target="_blank" class="text-decoration-none">{{ tissue.method3 }}</a></td>
                  {% endif %}
                  {% if tissue.reg2 == '' %}
                    <td>{{ tissue.reg }}</td>
                  {% else %}
                    <td>{{ tissue.reg }}, {{ tissue.reg2 }}</td>
                  {% endif %}
                  <td>{{ tissue.condition }}</td>
                  <td>{{ tissue.typenet }}</td>
                  <td><a href="{{ tissue.datarefs }}" target="_blank" class="text-decoration-none">{{ tissue.data }}</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> <!--hidden-->

<div class="hidden">
  {% include "footer.html" %}
</div>
<script> 
  var data2 = JSON.parse("{{data|escapejs}}");  
</script>
<script> var dataurl = "{% static 'js/datacell.csv' %}";</script>

<script src="{% static 'js/bubbleChartcells.js' %}"></script>

<script>
  $(document).ready(function () {
    $('div.hidden').fadeIn(300).removeClass('hidden');
});
</script>

</body>
</html>