{% load static %} 
{% include "header.html" %}

<div class="hidden">
<div class="row pt-3">

  <h3 class="text-secondary" align="center">{{ slugname }} networks </h3>

  <center>
    <div class="btn-group">

  <a class="btn btn-outline-primary not-allowed" role="button">Data sets <span class="badge bg-secondary">{{ ndata }}</span></a>

  <a class="btn btn-outline-primary not-allowed active" role="button">Networks</a>
  {% if nagg != 0 %}
  <a class="btn btn-outline-primary not-allowed" role="button">Aggregate <span class="badge bg-secondary">{{ nagg }}</span></a>
  {% endif %}
  {% if nsamples != 0 %}
    <a class="btn btn-outline-primary not-allowed" role="button">Single-sample <span class="badge bg-secondary">{{ nsamples }}</span></a>
  {% endif %}
  </div>
</center>
</div>

<div class="row" id="main">
<div class="col-1 mt-5">
</div>

<div class="col-10 mt-4 pb-4 mb-4">
  <div class="row">
    {% if slug == 'mirna' %}
      <div class="col-lg-6">
        <canvas id="scatterChart" width="50" height="30"></canvas>
      </div>
      <div class="col-lg-6">
        <canvas id="scatterChart2" width="50" height="30"></canvas>
      </div>
    {% elif slug == 'lcl' or slug == 'fibroblast_gtex' %}
      <div class="col-lg-6">
        <canvas id="scatterChart" width="50" height="30"></canvas>
      </div>
      <div class="col-lg-6">
        <canvas id="scatterChart2" width="50" height="30"></canvas>
      </div>
    {% else %}
      <div class="col-lg-6">
        <canvas id="cellbartf" style="width:100%; height:300px;"></canvas>
      </div>
      <div class="col-lg-6">
        <canvas id="cellbargenes" style="width:100%; height:300px;"></canvas>
      </div>
    {% endif %}

  <p style="font-family: Helvetica; color: #333; padding: 1em 2em; font-size: 12px">
    To get the full list of phenotypic variables, please check the menu below. {% if slug != 'lcl' and slug != 'fibroblast_gtex' and slug != 'mirna' %}Click on the bar plot to access the network view page.{% endif %}
  </p>
</div>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="networks">
          Networks
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="container-fluid ">
        <div class="card ">
  <div class="card-body" id="networks">
    <h5 class="card-title">Tool description</h5>
    <p class="card-text">
      {% if tooldrag == 'yes' %} 
        <a href="https://netzoo.github.io/zooanimals/dragon/" style="text-decoration:none" target="_blank">DRAGON</a> builds multi-omic networks by computing partial corrleations between the variables using covariance shrinkage to accurately estimate conditional dependencies with low sample number. Check <a href="#cardtissuetcga" style="text-decoration:none" >the phenotypic information</a> for the clinical variables of the samples that were used to reconstruct the network. 
      {% else %}
        <a href="https://netzoo.github.io/zooanimals/panda/" style="text-decoration:none" target="_blank">PANDA</a> reconstructs a gene regulatory network using TF PPI, TF DNA binding motif as regulation prior, and gene expression samples.
        {% if name == 'yes' %} <a href="https://netzoo.github.io/zooanimals/lioness/" style="text-decoration:none" target="_blank">LIONESS</a> reconstructs sample-specific <a href="https://netzoo.github.io/zooanimals/panda/" style="text-decoration:none" target="_blank">PANDA</a> networks for each gene expression sample. To download sample-specific networks, you can check <a href="#cardtissuetcga" style="text-decoration:none">the phenotypic information</a> and select the networks by
        variables of interest. {% else %}                                 <a href="https://netzoo.github.io/zooanimals/puma/" style="text-decoration:none" target="_blank">PUMA</a> reconstructs a gene regulatory network with miRNA as regulators using gene expression samples and miRNA predicted targets by <a href="http://cbio.mskcc.org/microrna_data/manual.html" style="text-decoration:none" target="_blank">miRanda</a> or <a href="http://www.targetscan.org/vert_72/" style="text-decoration:none" target="_blank">TargetScan</a> as regulation priors. The Regulator-regulator interaction matrix is set to the identity matrix in the algorithm. Check <a href="#cardtissuetcga" style="text-decoration:none" >the phenotypic information</a> for the clinical variables of the samples that were used to reconstruct the network. {% endif %}
      {% endif %}  
    </p>
        <table id="tissuestabletcga" class="table table-hover" style="width: 100%">
                <thead>
                  {% if slug == 'lcl' or slug == 'fibroblast_gtex' %}
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tissue</th>
                    <th scope="col">Tool</th>
                    <th scope="col">netZoo release</th>
                    <th scope="col">Network <br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      title="Network format"
                      data-bs-content="Please refer to the Help page Network section for the network download formats.">
                    </i></th>
                    <th scope="col">PPI<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      title="Data sources"
                      data-bs-content="You can directly download the TF-TF PPI prior used for the generation of the network and check the link to the original PPI database and its version.
                      If the entry is missing, it is set to the identity matrix of size nReg in the corresponding tool e.g., PUMA.">
                    </i></th>
                    <th scope="col">Regulation prior</th>
                    <th scope="col">Expression<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="Gene expression.">
                    </i></th>
                    <th scope="col">Regulator<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Type of regulator e.g., TF or miRNA.">
                    </i></th>
                    <th scope="col">nReg<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Number of regulators.">
                    </i></th>
                    <th scope="col">Genes</th>
                    <th scope="col">Samples</th>
                    <th scope="col">Precision<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      title="Computation precision"
                      data-bs-content="S=Single, D=Double">
                    </i></th>
                    <th scope="col">Reference</th>
                  </tr>
                  {% else %}
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tissue</th>
                    <th scope="col">Tool</th>
                    <th scope="col">netZoo release</th>
                    <th scope="col">Network<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-animation="false"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      title="Network format"
                      data-bs-content="Please refer to the Help page Network section for the network download formats. You can download the script to reproduce the network using the R button.">
                    </i></th>
                    {% if slug != 'mirna' %}
                    <th scope="col">PPI<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      title="Data sources"
                      data-bs-content="Directly download the PPI prior used for the generation of the network and check the link to the original PPI database and its version.">
                    </i></th>
                    <th scope="col">Motif</th>
                    {% else %}
                    <th scope="col">miRNA Expression<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="miRNA expression.">
                    </i></th>
                    {% endif %}
                    <th scope="col">{% if slug == 'mirna' %}Gene {% endif %}Expression<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="Gene expression.">
                    </i></th>
                    <th scope="col">Regulator<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Type of regulator e.g., TF or miRNA.">
                    </i></th>
                    <th scope="col">nReg<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Number of regulators.">
                    </i></th>
                    <th scope="col">Genes</th>
                    <th scope="col">Data</th>
                    <th scope="col">Samples</th>
                    <th scope="col">Precision<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      title="Computation precision"
                      data-bs-content="S=Single, D=Double">
                    </i></th>
                    <th scope="col">Reference</th>
                  </tr>
                  {% endif %}
                </thead>
                <tbody>
                  {% if slug == 'lcl' or slug == 'fibroblast_gtex' %}
                  {% for tissue in celllanding %}
                  <tr>
                  <th scope="row">{{ forloop.counter }}</th>   
                  <td><a href="/networks/aggregate/{{ tissue.awsname }}/" style="text-decoration:none">{{ tissue.tissue }}</a></td>
                  <td>{{ tissue.tool }}</td>
                  <td>{{ tissue.netzoo }} <a href="{{ tissue.netzooLink }}" class="text-decoration-none">{{ tissue.netzooRel }}</a></td>
                      <td><div class="btn-group-sm" role="group" aria-label="Basic example">
                          <a href="{{ tissue.network }}" class="btn btn-outline-primary" role="button">Adj</a><a href="{{ tissue.script }}" class="btn btn-outline-danger" role="button">Code</a><a href="/networks/aggregate/{{ tissue.awsname }}/" class="btn btn-outline-success" role="button">Vis</a></div></td>
                  {% if tissue.tool == 'PUMA' %}
                      <td>{{ tissue.ppi }}</td>
                  {% else %} 
                      <td><a href="{{ tissue.ppi }}"><i class="fas fa-download"></i></a> <a href="{{ tissue.ppiLink }}" target="_blank"><i class="fas fa-link"></i></a></td>
                  {% endif %}
                  <td><a href="{{ tissue.motif }}" class="text-decoration-none">{{ tissue.motifDesc }}</a></td>
                  <td><a href="{{ tissue.expression }}"><i class="fas fa-download"></i></a> <a href="{{ tissue.expLink }}" target="_blank"><i class="fas fa-link"></i></a></td>
                  <td>{{ tissue.reg }}</td>
                  <td>{{ tissue.tfs }}</td>
                  <td>{{ tissue.genes }}</td>
                  {% if tissue.tool == 'PANDA' %}
                  <td><a href="#cardtissuetcga" class="text-decoration-none">{{ tissue.samples }}</a></td>
                  {% else %}
                  <td>{{ tissue.samples }}</td>
                  {% endif %}
                  <td><span class="badge bg-primary rounded-pill">D</span></td>
                  {% if tissue.tool == 'PUMA' %}
                  <td><a href="#"><i class="fas fa-book" data-bs-toggle="modal" data-bs-target="#exampleModal2"></i></a><a href="{{ tissue.refs2 }}" target="_blank"><i class="fas fa-book"></i></a></td>
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel2">Publication</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Please check the reference {{ tissue.refs3 }} at the following <a href="{{ tissue.refs }}" target="_blank" style="text-decoration:none">link</a>.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div> 
                  {% else %}
                  <td><a href="#"><i class="fas fa-book" data-bs-toggle="modal" data-bs-target="#exampleModal3"></i></a><a href="{{ tissue.refs2 }}" target="_blank"><i class="fas fa-book"></i></a></td>
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel3">Publication</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Please check the reference {{ tissue.refs3 }} at the following <a href="{{ tissue.refs }}" target="_blank" style="text-decoration:none">link</a>.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div> 
                  {% endif %}
                  </tr>
              {% endfor %}
                  {% else %}
                 {% for tissue in celllanding %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ tissue.cancer }}</td>
                      <td>{{ tissue.tool }}</td>
                      <td>{{ tissue.netzoo }} <a href="{{ tissue.netzooLink }}" class="text-decoration-none" target="_blank">{{ tissue.netzooRel }}</a></td>
                      {% if slug != 'mirna' %}
                        <td><div class="btn-group-sm" role="group" aria-label="Basic example"><a href="{{ tissue.network }}" class="btn btn-outline-primary" role="button">Adj</a><a href="{{ tissue.script }}" class="btn btn-outline-danger" role="button">Code</a><a href="{{ tissue.network }}" class="btn btn-outline-success" role="button">Vis</a></div></td>
                        <td><a href="{{ tissue.ppi }}"><i class="fas fa-download"></i></a> <a href="{{ tissue.ppiLink }}" target="_blank"><i class="fas fa-link"></i></a></td>
                        <td><a href="{{ tissue.motif }}"><i class="fas fa-download"></i></a></td>
                      {% else %}
                        <td><div class="btn-group-sm" role="group" aria-label="Basic example"><a href="{{ tissue.network }}" class="btn btn-outline-primary" role="button">Adj</a><a href="{{ tissue.script }}" class="btn btn-outline-danger" role="button">Code</a><a href="/networks/aggregate/mirnadragon" class="btn btn-outline-success" role="button">Vis</a></div></td>
                        <td><a href="{{ tissue.ppi }}"><i class="fas fa-download"></i></a> <a href="{{ tissue.ppiLink }}" target="_blank"><i class="fas fa-link"></i></a></td>
                      {% endif %}
                      <td><a href="{{ tissue.expression }}"><i class="fas fa-download"></i></a> <a href="{{ tissue.expLink }}" target="_blank"><i class="fas fa-link"></i></a></td>
                      <td>{{ tissue.reg }}</td>
                      <td>{{ tissue.tfs }}</td>
                      <td>{{ tissue.genes }}</td>
                      <td>{{ tissue.dataset }}</td>
                      {% if tissue.tool == 'PANDA' %}
                      <td>{{ tissue.samples }}</td>
                      {% else %}
                      <td><a href="{{ tissue.cardref }}" class="text-decoration-none">{{ tissue.samples }}</a></td>
                      {% endif %}
                      <td><span class="badge rounded-pill bg-primary">D</span></td>
                      <td><a href="#"><i class="fas fa-book" data-bs-toggle="modal" data-bs-target="#exampleModal"></i></a></td>
                        <!-- Modal 1-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Publication</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                The reference for this network is {{ tissue.refs2 }}</a>.
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </tr>
                 {% endfor %}
                 {% endif %}
                </tbody>
              </table>
    </div>
</div>
          </div>
        </div>
      </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="headingTwo">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="cardtissuetcga">
      Phenotypic information {% if slug == 'lcl' or slug == 'fibroblast_gtex' %}GTEx{% else %}CCLE{% endif %} 
    </button>
  </h2>
  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
    <div class="accordion-body">

  <script>var offset=30</script>
{% if slug == 'lcl' or slug == 'fibroblast_gtex' %}
<div class="container-fluid">
    <div class="card" id="cardtissuetcga">
            <div class="card-body">
            <h5 class="card-title">Variable description</h5>
            <p class="card-text">{% if name == 'yes' %}You can either download all the networks to get a matrix of size the number of samples by the number of edges. The number of edges
			    is the number of TFs/miRNA * number of genes (~ 10<sup>6</sup>). Otherwise, you can specify the sample network to download and you will get a TF-by-gene
            		    matrix named after  the GTEx sample reference{% else %} This is a description of the primary clinical variables of the gene expression samples that were used to generate the gene regulatory network{% endif %}.</p>
                    <div class="row pb-4">
        <div class="col-lg-7">
          <div class="row">
            <div class="col-lg-4">
              <canvas id="myPieChart" ></canvas>   
            </div>
            <div class="col-lg-4">
              <canvas id="myPieChartETH" ></canvas>   
            </div>
            <div class="col-lg-4">
              <canvas id="myPieChartAL" ></canvas>   
            </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col-lg-6">
            <canvas id="myPieChartStage" ></canvas>   
          </div>
          <div class="col-lg-6">
            <canvas id="myPieChartVital" ></canvas>   
          </div>
        </div>
      </div>
      </div>
            <table id="tissuestable" class="table table-hover" style="width: 100%">
                <thead>
                  <tr>
                    <th scope="col">Sample</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Gender <br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="1=Male, 2=Female">
                    </i></th>
                    <th scope="col">Age</th>
                    <th scope="col">DTH-HRDY<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="Hardy scale">
                    </i></th>
                    <th scope="col">SMAT-SSCR<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="Autolysis Score">
                    </i></th>
                    <th scope="col">SMRIN<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="RIN Number">
                    </i></th>
                    <th scope="col">SMTS<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Tissue Type, area from which the tissue sample was taken">
                    </i></th>
                    <th scope="col">SMUBRID<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Uberon ID, anatomical location as described by the Uber Anatomy Ontology (UBERON)">
                    </i></th>
                    <th scope="col">SMTSISCH<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Total Ischemic time for a sample in 4 hour intervals">
                    </i></th>
                    <th scope="col">SMTSTPTREF<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Time point reference for Start and End times of sample procurement">
                    </i></th>
                  </tr>
                </thead>
                <tbody>
                 {% for tissue in cellsample %}
                    <tr>
                    <td>{{ tissue.sampleid }}</td>
                    <td>{{ tissue.subjectid }}</td>
                    <td>{{ tissue.gender }}</td>
                    <td>{{ tissue.age }}</td>
                    <td>{{ tissue.dthhrdy }}</td>
                    <td>{{ tissue.smatsscr }}</td>
                    <td>{{ tissue.smrin }}</td>
                    <td>{{ tissue.smts }}</td>
                    <td>{{ tissue.smubrid }}</td>
                    <td>{{ tissue.smtsisch }}</td>
                    <td>{{ tissue.smtstptref }}</td>
                    </tr>
                 {% endfor %}
                </tbody>
                <tfoot>
                  <tr id='tfoot2'>
                    <th>Sample</th>
                    <th>Subject</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>DTH-HRDY</th>
                    <th>SMAT-SSCR</th>
                    <th>SMRIN</th>
                    <th>SMTS</th>
                    <th>SMUBRID</th>
                    <th>SMTSISCH</th>
                    <th>SMTSTPTREF</th>
                  </tr>
                </tfoot>
              </table>
        </div>
    </div>
</div>
{% else %} 
<div class="container-fluid ">
        <div class="card " id="cardtissuetcga">
          <div class="card-body">
          <h5 class="card-title">Variable description</h5>
            <p class="card-text">{% if tooldrag == 'yes' %}This is a description of the primary phenotypic variables of the gene expression samples that were used to generate the gene regulatory network.{% else %}You can specify the sample network to download by phenotypic variable and you will get a TF/miRNA-by-gene
                    matrix named after the CCLE sample reference. The number of edges
			    is the number of TFs/miRNA * number of genes (~ 10<sup>6</sup>).{% endif%}</p>
          <div class="row pb-4">
        <div class="col-lg-7">
          <div class="row">
            <div class="col-lg-4">
              <canvas id="myPieChart" ></canvas>   
            </div>
            <div class="col-lg-4">
              <canvas id="myPieChartETH" ></canvas>   
            </div>
            <div class="col-lg-4">
              <canvas id="myPieChartAL" ></canvas>   
            </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col-lg-6">
            <canvas id="myPieChartStage" ></canvas>   
          </div>
          <div class="col-lg-6">
            <canvas id="myPieChartVital" ></canvas>   
          </div>
        </div>
      </div>
      </div>
          <table id="tissuestable" class="table table-hover" style="width: 100%">
                <thead>
                  <tr>
                    <th scope="col">DepMap ID<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="Dependency Map (https://depmap.org/portal/) ID">
                    </i></th>
                    <th scope="col">Cell name</th>
                    <th scope="col">COSMIC ID<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-animation="false"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-content="COSMIC (https://cancer.sanger.ac.uk/cosmic) ID">
                    </i></th>
                    <th scope="col">Sex</th>
                    <th scope="col">Race</th>
                    <th scope="col">Culture</th>
                    <th scope="col">Collection site<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Anatomic site of collection">
                    </i></th>
                    <th scope="col">Type<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Primary or metastatic">
                    </i></th>
                    {% if slug != 'mirna' %}
                    <th scope="col">Cancer<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Cancer type">
                    </i></th>
                    {% endif %}
                    <th scope="col">TCGA code<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Cancer code from TCGA (https://www.cancer.gov/about-nci/organization/ccg/research/structural-genomics/tcga)">
                    </i></th>
                    {% if slug != 'mirna' %}
                    <th scope="col">Network<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Please refer to the Help page Network section for the network download formats. Adj: Adjacency matrix, Vis: Visualization">
                    </i></th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                 {% for tissue in cellsample %}
                    <tr>
                      {% if slug == 'mirna' %}
                        <td>{{ tissue.depmap }}</td>
                      {% else %}
                        <td><a href="/networks/aggregate/{{ tissue.cleanname }}/" style="text-decoration:none">{{ tissue.depmap }}</a></td>
                      {% endif %}
                      <td>{{ tissue.stripcellname }}</td>
                      <td>{{ tissue.cosmicid }}</td>
                      <td>{{ tissue.sex }}</td>
                      <td>{{ tissue.race }}</td>
                      <td>{{ tissue.culture }}</td>
                      <td>{{ tissue.collsite }}</td>
                      <td>{{ tissue.prim }}</td>
                      {% if slug != 'mirna' %}
                      <td>{{ tissue.disease }}</td>
                      {% endif %}
                      <td>{{ tissue.tcga }}</td>
                      {% if slug != 'mirna' %}
                      <td><div class="btn-group-sm" role="group" aria-label="Basic example"><a href="https://granddb.s3.us-east-2.amazonaws.com/cells/networks/ccle/{{ tissue.depmap }}.csv" class="btn btn-outline-primary" role="button">Adj</a><br><span class="badge rounded-pill bg-light text-dark"><small>{{ tissue.size }}</small></span><a href="/networks/aggregate/{{ tissue.cleanname }}/" class="btn btn-outline-success" role="button">Vis</a></div></td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr id='tfoot2'>
                    <th>DepMap ID</th>
                    <th>CCLE Name</th>
                    <th>COSMIC ID</th>
                    <th>Sex</th>
                    <th>Race</th>
                    <th>Culture</th>
                    <th>Collection site</th>
                    <th>Type</th>
                    {% if slug != 'mirna' %}
                    <th>Cancer</th>
                    {% endif %}
                    <th>TCGA code</th>
                    {% if slug != 'mirna' %}
                    <th>Network</th>
                    {% endif %}
                  </tr>
                </tfoot>
              </table>
    </div>
  </div>
</div>
{% endif %}
</div>
</div>
</div>


</div>
</div>
</div>
</div>
</div>

<div class="hidden">
{% include "footer.html" %}
</div>

<script>
// Basic example
$(document).ready(function() {
      // Setup - add a text input to each footer cell
    $('#tfoot2 th').each( function (i) { //tcga
        var title = $(this).text();
        $(this).html( '<input size=7 id="id'+i+offset+'" type="text" placeholder="Search '+title+'" />' );
        i++;
    } );

    //datatables
    table = $('#tissuestabletcga').DataTable({
     "serverSide": false,
     "initComplete": function (settings, json) {  
    $("#tissuestabletcga").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
  },
     "processing": true,
            "dom": "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-5'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
    });




});
</script>

<script>
  var slug2="{{ slug2 }}";
  var slug="{{ slug }}";
  var data2=JSON.parse("{{data|escapejs}}");
</script>


<script src="{% static 'js/pieChartcells.js' %}"></script>

<script>
  $(document).ready(function () {
    $('div.hidden').fadeIn(300).removeClass('hidden');
});

</script>


<script src="{% static 'js/exptfs.js' %}"></script>
<script src="{% static 'js/scatterChartcell.js' %}"></script>


</body>
</html>