{% load static %} 
{% include "header.html" %}

<div class="container alert alert-info alert-dismissible fade show col-9" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

<h4 class="alert-heading">Submission stats</h4>
<p class="mb-1">
        {{ params.0.genesdownin }}/{{ params.0.genesupin }} entries are valid TF symbols in the query set.
</p>
</div>

<div class="container col-9 pb-5 mb-5">
  <canvas id="container" style="width:100%; height:400px;"></canvas>
<div class="card text-left">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/diseaseresult/{{ id }}/gwas">GWAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/diseaseresult/{{ id }}/hpo">Disease</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/diseaseresult/{{ id }}/tissueex">Tissue expression</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/diseaseresult/{{ id }}/tissuetar">Tissue targeting</a>
      </li>
    </ul>
  </div>
  <div class="card-body hidden">
            &nbsp; <div class="row">
              &nbsp; &nbsp; <div class="col-1 padding-0">
            <h3><span class="badge bg-danger">GWAS</span></h3>
            </div>
            <div class="col-1 padding-0">
              <i class="far fa-question-circle"
                           data-bs-toggle="popover"
                           data-bs-trigger="hover"
                           data-bs-placement="top"
                           data-bs-animation="false"
                           data-bs-content="Enrichement of the query set in GWAS traits where hits were located near TF coding region as determined in Lambert et al, Cell, 2018.">
              </i>
            </div>
            <div class="col-10 padding-0"></div>
            </div>

        <table id="drugstbla" class="table table-hover" style="width: 100%">
                <thead>
                  <tr>
                    <th scope="col">Gwas trait</th>
                    <th scope="col">Count <i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Number of TF genes associated to the trait.">
                    </i></th>
                    <th scope="col">Intersect <i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="Number of TF genes in the query set that are associated to the trait.">
                    </i></th>
                   <th>P-value</th>
                   <th>Q-value</th>
                  </tr>
                </thead>
                <tbody>
                 {% for g in gwas %}
                    <tr>
                    <td>{{ g.disease }}</a></td>
                    <td>{{ g.count }}</td>
                    <td>{{ g.intersect }}</td>
                    <td>{{ g.pval }}</td>
                    <td>{{ g.qval }}</td>
                    </tr>
                 {% endfor %}
                </tbody>
         </table>
</div>
</div>

</div>

<div class="hidden">
{% include "footer.html" %}
<div>

<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

<script>
  $(document).ready(function () {
    $('div.hidden').fadeIn(500).removeClass('hidden');
});
</script>
<script>
// Basic example
$(document).ready(function() {
    //datatables
    $('#drugstbla').DataTable({

      "serverSide": false,
      "processing": true,
      "order": [[ 3, "asc" ]],

     buttons: [
            'copy', 'csv', 'pdf', 'print'
        ],

      "dom": "B" + "<'row'<'col-sm-12 col-md-6 mt-2'l><'col-sm-12 col-md-5'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
    });

    $('#drugstblb').DataTable({

      "serverSide": false,
      "processing": true,
      "order": [[ 3, "asc" ]],
      
      buttons: [
            'copy', 'csv', 'pdf', 'print'
        ],

      "dom": "B" + "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-5'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-4'p>>",
    });

        $('#drugstblc').DataTable({
      
      "serverSide": false,
      "processing": true,
      "order": [[ 3, "asc" ]],
     

      buttons: [
            'copy', 'csv', 'pdf', 'print'
        ],

      "dom": "B" + "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-4'p>>",
    });

       $('#drugstbld').DataTable({

      "serverSide": false,
      "processing": true,
      "order": [[ 3, "asc" ]],
      

      buttons: [
            'copy', 'csv', 'pdf', 'print'
        ],

      "dom": "B" + "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-4'p>>",
    });

} );
</script>


<script> 
  var data2 = JSON.parse("{{data|escapejs}}");  
  var sense = "{{ sense }}";
</script>

<script src="{% static 'js/barChart.js' %}"></script>
</body>
</html>

