{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge"> 
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.css"/>
  <title>GRAND</title>
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-151168345-1');
</script>
<body class="d-flex flex-column min-vh-100">
<div class="wrapper flex-grow-1">

<!-- Header -->
<nav class="navbar bg-dark navbar-dark navbar-expand-sm">
  <div class="container">
      <a class="navbar-brand m-0" href="/">
          <img src="{% static 'images/logo.svg' %}" style="width: 400px;">
      </a>
      <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home</a>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="index.html">Networks</a>
              <div class="dropdown-menu">
              <a href="/drugs" class="dropdown-item">Small molecules</a>
              <a href="/cancers" class="dropdown-item">Cancer</a>
              <a href="/tissues" class="dropdown-item">Tissues</a>
              <a href="/cell" class="dropdown-item">Cell lines</a>
            </div>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Analysis</a>
          <div class="dropdown-menu">
            <a href="/analysis" class="dropdown-item">CLUEreg</a>
            <a href="/disease" class="dropdown-item">Disease/Tissues</a>
          </div>
        </li>
          <a class="nav-item nav-link" href="/help">Help</a>
          <a class="nav-item nav-link" href="/about">Contact</a>
          <a class="nav-item nav-link" href="/download">Download</a>
          <a class="nav-item nav-link" href="https://github.com/QuackenbushLab/grand"><i class="fab fa-github fa-lg"></i></a>
      </div>
  </div>
</nav>


<div class="container alert alert-info alert-dismissible fade show col-9">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

<h4 class="alert-heading">Submission stats</h4>
<p class="mb-1">
        {{ params.0.genesdownin }}/{{ params.0.genesupin }} entries are valid TF symbols in the query set.
        </p>
</div>

<div class="container col-9 pb-5 mb-5">
<div class="card text-left">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/diseaseresult/{{ id }}/gwas">GWAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/diseaseresult/{{ id }}/hpo">Disease</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/diseaseresult/{{ id }}/tissueex">Tissue expression</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/diseaseresult/{{ id }}/tissuetar">Tissue targeting</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
                    &nbsp; <div class="row lm-6">
             <div class="col-xs-6">
             &nbsp; &nbsp;
             </div>
            <div class="col-xs-6">
            <h3><span class="badge badge-success">Tissue Expression</span></h3>
            </div>
         <div class="col-xs-6">
         &nbsp; <i class="far fa-question-circle"
                      data-toggle="popover"
                      data-trigger="hover"
                      data-placement="top"
                      data-content="TF expression associated with human tissues as determined in Sonawane et al, 2017.">
                    </i>
            </div>
         </div>
        <table id="drugstblc" class="table table-hover" style="width: 100%">
                <thead>
                  <tr>
                    <th scope="col">Tissue</th>
                    <th scope="col">Count <i class="far fa-question-circle"
                      data-toggle="popover"
                      data-trigger="hover"
                      data-placement="top"
                      data-content="Number of TF genes associated to the tissue.">
                    </i></th>
                    <th scope="col">Intersect <i class="far fa-question-circle"
                      data-toggle="popover"
                      data-trigger="hover"
                      data-placement="top"
                      data-content="Number of TF genes in the query set that are associated to the tissue.">
                    </i></th>
                    <th>P-value</th>
                   <th>Q-value</th>
                  </tr>
                </thead>
          <tbody>
                 {% for tex in tissueex %}
                    <tr>
                    <td><a href=" {{ tex.tissueLink }} ">{{ tex.tissue }}</a></td>
                    <td>{{ tex.count }}</td>
                    <td>{{ tex.intersect }}</td>
                    <td>{{ tex.pval }}</td>
                    <td>{{ tex.qval }}</td>
                    </tr>
                 {% endfor %}
                </tbody>
         </table>

</div>
</div>

</div>
<!-- Footer -->
<footer class="page-footer font-small lighten-3 pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <h6 class="text-uppercase mb-2">Contact</h6>
        <p><a href="https://www.hsph.harvard.edu/biostatistics/">Department of Biostatistics</a>
        <br><a href="https://www.hsph.harvard.edu/">Harvard T.H. Chan School of Public Health</a></p>
      </div>
      <div class="col-md-5 col-lg-5">
        <!-- Social buttons -->
        <h6 class="text-uppercase mb-2">License</h6>
        <a class="nav-item nav-link" href="https://creativecommons.org/licenses/by-sa/4.0/"><i class="fab fa-creative-commons fa-2x"></i></a>
      </div>
      <div class="col-md-1 col-lg-1">
        <h6 class="text-uppercase mb-2">Share</h6>
        <!-- Facebook -->
        <a href="http://www.facebook.com/sharer/sharer.php?u=http://hsph.harvard.edu" type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-fb" href="https://twitter.com/intent/tweet?text=GRAND: Integrated gene regulatory network database of cell lines, tissues, and small molecules. https://grand.networkmedicine.org">
          <i class="fab fa-twitter-square fa-2x"></i>
        </a>
       <!-- Linkedin -->
        <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://grand.networkmedicine.org" type="button" class="btn-floating btn-fb">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="/about" type="button" class="btn-floating btn-fb">
          <i class="fas fa-envelope-square fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"></script>
<script src="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script>
$(function () {
  $('[data-toggle="popover"]').popover();
})

// Basic example
$(document).ready(function() {
    //datatables
    $('#drugstbla').DataTable({

      "serverSide": false,
      "processing": true,
      "order": [[ 3, "asc" ]],

     buttons: [
            'copy', 'csv', 'pdf', 'print'
        ],

      "dom": "B" + "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-4'p>>",
    });

    $('#drugstblb').DataTable({

      "serverSide": false,
      "processing": true,
      "order": [[ 3, "asc" ]],
      
      buttons: [
            'copy', 'csv', 'pdf', 'print'
        ],

      "dom": "B" + "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-4'p>>",
    });

        $('#drugstblc').DataTable({
      
      "serverSide": false,
      "processing": true,
      "order": [[ 3, "asc" ]],
     

      buttons: [
            'copy', 'csv', 'pdf', 'print'
        ],

      "dom": "B" + "<'row'<'col-sm-12 col-md-6 mt-2'l><'col-sm-12 col-md-5'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
    });

       $('#drugstbld').DataTable({

      "serverSide": false,
      "processing": true,
      "order": [[ 3, "asc" ]],
      

      buttons: [
            'copy', 'csv', 'pdf', 'print'
        ],

      "dom": "B" + "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-4'p>>",
    });

} );
</script>
</body>
</html>


