{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <title>GRAND</title>
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-151168345-1');
</script>
<body class="d-flex flex-column min-vh-100">
<div class="wrapper flex-grow-1">

{% load widget_tweaks %}

<!-- Header -->
<nav class="navbar bg-dark navbar-dark navbar-expand-sm">
    <div class="container">
        <a class="navbar-brand m-0" href="/">
            <img src="{% static 'images/logo.svg' %}" style="width: 400px;">
        </a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Networks</a>
            <div class="dropdown-menu">
              <a href="/drugs" class="dropdown-item">Small molecules</a>
              <a href="/cancers" class="dropdown-item">Cancer</a>
              <a href="/tissues" class="dropdown-item">Tissues</a>
              <a href="/cell" class="dropdown-item">Cell lines</a>
            </div>
          </li>
             <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Analysis</a>
          <div class="dropdown-menu">
            <a href="/analysis" class="dropdown-item">CLUEreg</a>
            <a href="/disease" class="dropdown-item">Disease/Tissues</a>
          </div>
        </li>
            <a class="nav-item nav-link" href="/help">Help</a>
            <a class="nav-item nav-link" href="/about">Contact</a>
            <a class="nav-item nav-link" href="/download">Download</a>
            <a class="nav-item nav-link" href="https://github.com/QuackenbushLab/grand"><i class="fab fa-github fa-lg"></i></a>
        </div>
    </div>
</nav>

<div class="container mt-5 mb-5">
<div class="row">
        <div class="col-sm-6"> 
        <div class="card h-100">
        <h5 class="card-header">TF list</h5>
        <div class="card-body">
        <h5 class="card-title">Enter TF list below.</h5>
        <p class="card-text">All TF genes have to be in gene names.
  
	        <div class="form-area"> 
	               <form action="{% url 'disease' %}" role="form" method="post">
		 	    {% csrf_token %}
	                    <div class="form-group">
	                        {% render_field diseaseform.content class="form-control" placeholder="TF list" %}                
	                    </div>
	                   <div class="form-actions button-box">
	                   &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="/diseaseexample" class="btn btn-info" role="button">Example</a>
	                   <button type="submit"  name="submit" class="btn btn-primary" id="btnFetch">
	                   <span id="mySpinner" class="d-none">
	                   <span class="spinner-border spinner-grow-sm text-light" role="status" aria-hidden="true"></span>
	                   </span>
	                    Submit</button>
	                    </div>
	               </form>
		</div>
        </p>
	</div>
	</div>
        </div>

        <div class="col-sm-6">
        <div class="card h-100">
        <h5 class="card-header">Description</h5>
        <div class="card-body">
        <h5 class="card-title">Enrichment libraries</h5>
        <p class="card-text">

	        <div> 
	        <p align="justify">TFs regulate the expression of genes. Whereas several tools allow to test the enrichment of a list of genes in disease pathways, this tool allows testing the enrichemnt of a 
	        list of disrupted TF activites in two disease libraries, namely, GWAS traits and Human Phenotype ontology disease as described in <a href="https://www.ncbi.nlm.nih.gov/pubmed/29425488">Lambert et al, Cell, 2018</a>.</p>
	        <p align="justify">The <a href="http://humantfs.ccbr.utoronto.ca/download.php">GWAS library</a> connects several traits to transcription factors through assigning hits to TFs if they fall near their coding regions. 
	        The second library is a list of TF genes extracted from the list of genes in <a href="http://humantfs.ccbr.utoronto.ca/download.php">Human Phenotype Ontology</a>.</p>
	        <p align="justify">Morevoer, the TF list is tested for significant enrichment in two tissue-specific libraries, namely, tissue-specific TF expression and tissue-specific TF targeting as computed in <a href="https://www.cell.com/cell-reports/comments/S2211-1247(17)31418-3">Sonawane et al, Cell reports, 2017</a>. </p>
	        <p align="justify">The input is a list of TFs in gene symbols as in the <a href="/diseaseexample">example</a>. 1639 genes define TFs as per the list established in <a href="http://humantfs.ccbr.utoronto.ca/download.php">Lambert et al, Cell, 2018</a>.</p>
	        </div>
        </p>
        </div>
        </div>
        </div>
</div>
</div>

</div>
<!-- Footer -->
<footer class="page-footer font-small lighten-3 pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <h6 class="text-uppercase mb-2">Contact</h6>
        <p><a href="https://www.hsph.harvard.edu/biostatistics/">Department of Biostatistics</a>
        <br><a href="https://www.hsph.harvard.edu/">Harvard T.H. Chan School of Public Health</a></p>
      </div>
      <div class="col-md-5 col-lg-5">
        <!-- Social buttons -->
        <h6 class="text-uppercase mb-2">License</h6>
        <a class="nav-item nav-link" href="https://creativecommons.org/licenses/by-sa/4.0/"><i class="fab fa-creative-commons fa-2x"></i></a>
      </div>
      <div class="col-md-1 col-lg-1">
        <h6 class="text-uppercase mb-2">Share</h6>
        <!-- Facebook -->
        <a href="http://www.facebook.com/sharer/sharer.php?u=http://hsph.harvard.edu" type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-fb" href="https://twitter.com/intent/tweet?text=GRAND: Integrated gene regulatory network database of cell lines, tissues, and small molecules. https://grand.networkmedicine.org">
          <i class="fab fa-twitter-square fa-2x"></i>
        </a>
       <!-- Linkedin -->
        <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://grand.networkmedicine.org" type="button" class="btn-floating btn-fb">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="/about" type="button" class="btn-floating btn-fb">
          <i class="fas fa-envelope-square fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
    $("#btnFetch").click(function() {
        $("#mySpinner").removeClass("d-none")
    })
});
</script>
</body>
</html>

