{% load static %} 
{% include "header.html" %}
{% load widget_tweaks %}

<div class="container mt-5 mb-5">
	
<div class="row">
        <div class="col-sm-6"> 
        <div class="card h-100">
        <h5 class="card-header">TF list</h5>
        <div class="card-body">
        <h5 class="card-title">Enter TF list below.</h5>
        <p class="card-text">All TF genes have to be in gene names.
  
	        <div class="form-area"> 
	               <form action="{% url 'disease' %}" role="form" method="post">
		 	    {% csrf_token %}
	                    <div class="form-group">
	                        {% render_field diseaseform.content class="form-control" placeholder="TF list" %}                
	                    </div>
	                   <div class="form-actions button-box">
						   <br>
	                   &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
					   <div class="btn-group" role="group" aria-label="Basic example">
							<a href="/diseaseexample" class="btn btn-outline-primary" role="button">Example</a>
							<button type="submit"  name="submit" class="btn btn-success" id="btnFetch">
							<span id="mySpinner" class="d-none">
							<span class="spinner-border spinner-grow-sm text-light" role="status" aria-hidden="true"></span>
							</span>
								Submit</button>
						</div>
	                    </div>
	               </form>
		</div>
        </p>
	</div>
	</div>
        </div>

        <div class="col-sm-6">
        <div class="card h-100">
        <h5 class="card-header">Description</h5>
        <div class="card-body">
        <h5 class="card-title">Enrichment libraries</h5>
        <p class="card-text">

	        <div> 
	        <p align="justify">TFs regulate the expression of genes. Whereas several tools allow to test the enrichment of a list of genes in disease pathways, this tool allows testing the enrichemnt of a 
	        list of disrupted TF activites in two disease libraries, namely, GWAS traits and Human Phenotype ontology disease as described in <a href="https://www.ncbi.nlm.nih.gov/pubmed/29425488">Lambert et al, Cell, 2018</a>.</p>
	        <p align="justify">The <a href="http://humantfs.ccbr.utoronto.ca/download.php">GWAS library</a> connects several traits to transcription factors through assigning hits to TFs if they fall near their coding regions. 
	        The second library is a list of TF genes extracted from the list of genes in <a href="http://humantfs.ccbr.utoronto.ca/download.php">Human Phenotype Ontology</a>.</p>
	        <p align="justify">Morevoer, the TF list is tested for significant enrichment in two tissue-specific libraries, namely, tissue-specific TF expression and tissue-specific TF targeting as computed in <a href="https://www.cell.com/cell-reports/comments/S2211-1247(17)31418-3">Sonawane et al, Cell reports, 2017</a>. </p>
	        <p align="justify">The input is a list of TFs in gene symbols as in the <a href="/diseaseexample">example</a>. 1639 genes define TFs as per the list established in <a href="http://humantfs.ccbr.utoronto.ca/download.php">Lambert et al, Cell, 2018</a>.</p>
	        </div>
        </p>
        </div>
        </div>
        </div>
</div>
</div>

</div>
{% include "footer.html" %}

<script>
$(document).ready(function() {
    $("#btnFetch").click(function() {
        $("#mySpinner").removeClass("d-none")
    })
});
</script>
</body>
</html>

