{% load static %} 
{% include "header.html" %}
{% load widget_tweaks %}

<div class="container mt-5 mb-5">
	
<div class="row">
        <div class="col-sm-6"> 
        <div class="card h-100">
        <h5 class="card-header">TF list</h5>
        <div class="card-body">
        <h5 class="card-title">Enter your TF list below</h5>
        <p class="card-text">TF genes can be listed as gene symbols, gene IDs, or mixed lists.
  
	        <div class="form-area"> 
	               <form action="{% url 'disease' %}" role="form" method="post">
		 	    {% csrf_token %}
	                    <div class="form-group">
	                        {% render_field diseaseform.content class="form-control" placeholder="TF list" %}                
	                    </div>
	                   <div class="form-actions button-box">
						   <br>
	                   &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
					   <div class="btn-group" role="group" aria-label="Basic example">
							<a class="btn btn-outline-primary" role="button" onclick="setImage()">Example</a>
							<button type="submit"  name="submit" class="btn btn-success" id="btnFetch">
							<span id="mySpinner" class="d-none">
							<span class="spinner-border spinner-grow-sm text-light" role="status" aria-hidden="true"></span>
							</span>
								Submit</button>
						</div>
	                    </div>
	               </form>
		</div>
        </p>
	</div>
	</div>
        </div>

        <div class="col-sm-6">
        <div class="card h-100">
        <h5 class="card-header">Description</h5>
        <div class="card-body">
        <h5 class="card-title">Enrichment libraries</h5>
        <p class="card-text">

	        <div> 
	        <p align="justify">Using a hypergeometric test, this tool computes the enrichment of a 
	        list of TFs in two disease libraries, namely, GWAS traits and Human Phenotype ontology disease as described in <a href="https://www.ncbi.nlm.nih.gov/pubmed/29425488" style="text-decoration: none;">Lambert et al, Cell, 2018</a>.</p>
	        <p align="justify">The <a href="http://humantfs.ccbr.utoronto.ca/download.php" style="text-decoration: none;">GWAS library</a> connects several traits to transcription factors through assigning significant SNPs to TFs if they fall near their coding regions. 
	        The second library is a list of TF genes extracted from the list of genes in <a href="http://humantfs.ccbr.utoronto.ca/download.php" style="text-decoration: none;">Human Phenotype Ontology</a>.</p>
	        <p align="justify">Morevoer, the TF list is tested for significant enrichment in two tissue-specific libraries, namely, tissue-specific TF expression and tissue-specific TF targeting as computed in <a href="https://www.cell.com/cell-reports/comments/S2211-1247(17)31418-3" style="text-decoration: none;">Sonawane et al, Cell reports, 2017</a>. </p>
	        <p align="justify">Users provide an input list of TFs as gene symbols, gene IDs, or mixed lists as in the example. 1639 genes define TFs as per the list established in <a href="http://humantfs.ccbr.utoronto.ca/download.php" style="text-decoration: none;">Lambert et al, Cell, 2018</a>.</p>
	        </div>
        </p>
        </div>
        </div>
        </div>
</div>
</div>

</div>
{% include "footer.html" %}

<script>
$(document).ready(function() {
    $("#btnFetch").click(function() {
        $("#mySpinner").removeClass("d-none")
    })
});

function setImage() {
    document.getElementById("id_content").value='BHLHE23\nMAX\nMYOD1\nARNTL\nBHLHE40\nMYCN\nCLOCK\nHEY2\nASCL1\nTCF12\nHES6\nFERD3L\nMSGN1\nUSF1\nNEUROD1\nHAND2\nHEY1\nMESP1\nPTF1A\nNPAS2\nNEUROD2\nNHLH1\nATOH1\nARNT2\nOLIG3\nNHLH2\nNEUROG2\nMSC\nHES7\nFOXL1\nTCF3\nVAX1\nBATF\nMAF\nMYC\nDLX2\nIRF4\nIRF8\nKLF4\nCEBPE\n';
  }
</script>
</body>
</html>

