{% load static %} 
{% include "header.html" %}

<div class="container alert alert-info alert-dismissible fade show col-9" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

<h4 class="alert-heading">Submission stats</h4>
<p class="mb-1">
        {{ params.0.genesdownin }}/{{ params.0.genesupin }} entries are valid TF symbols in the query set.
</p>
</div>

<div class="container-fluid col-9 pb-5 mb-5">
  <canvas id="container" style="width:100%; height:400px;"></canvas>
  <p style="font-family: Helvetica; color: #333; padding: 1em 2em; font-size: 12px">
    Click on the bar plot to filter the table below.
  </p>
<div class="card text-left">
     <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/diseaseresult/{{ id }}/gwas">GWAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/diseaseresult/{{ id }}/hpo">Disease</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/diseaseresult/{{ id }}/tissueex">Tissue expression</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/diseaseresult/{{ id }}/tissuetar">Tissue targeting</a>
      </li>
    </ul>
  </div>
  <div class="card-body hidden">
    &nbsp; 

    <h3><span class="badge bg-primary">Disease</span>  &nbsp;<i class="far fa-question-circle"
      data-bs-toggle="popover"
      data-bs-trigger="hover"
      data-bs-placement="top"
      data-bs-animation="false"
      data-bs-content="TFs associated with disease and human phenotype as listed in the Human Phenotype Ontology and processed in Lambert et al, Cell, 2018.">
</i></h3>

        <table id="drugstbl1" class="table table-hover" style="width: 100%">
                <thead>
                  <tr>
                    <th scope="col">Disease</th>
                    <th scope="col">Count <i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="Number of TF genes associated to the phenotype.">
                    </i></th>
                    <th scope="col">Intersect <i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="Number of TF genes in the query set that are associated to the phenotype.">
                    </i></th>
                    <th>P-value</th>
                   <th>Q-value</th>
                  </tr>
                </thead>
	        <tbody>
		 {% for d in disease %}
		    <tr>
		    <td><a href={{ d.hpoId }} style="text-decoration: none;" target="_blank">{{ d.disease }}</a></td>
		    <td>{{ d.count }}</td>
        <td>{{ d.intersect }}</td>
        <td>{{ d.pval }}</td>
		    <td>{{ d.qval }}</td>
        </tr>
		 {% endfor %}
                </tbody>
         </table>
</div>
</div>
</div>

</div>

<div class="hidden">
{% include "footer.html" %}
</div>

<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script>
  $(document).ready(function () {
    $('div.hidden').fadeIn(500).removeClass('hidden');
});
</script>



<script> 
  var data2 = JSON.parse("{{data|escapejs}}");  
  var sense = "{{ sense }}";
</script>

<script src="{% static 'js/barChartEnrich.js' %}"></script>
</body>
</html>


