{% load static %} 
{% include "header.html" %}

<div class="container col-10 mt-4">
<div class="row">
  <div class="col-4">

      <div class="card-header bg-transparent border-light">
      <h6 style="color:white;">{{ drugdesc.pert_iname }} </h1>
      </div>
    {% with 'images/'|add:drugdesc.image_name|add:'.svg' as image_static %}
      <img class=card-img src="{% static image_static %}" >
    {% endwith %}


  </div>

  <div class="col-8">
<div class="card border-secondary">
  <div class="card-header">
  {{ drugdesc.pert_iname }} <i class="fas fa-info-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      title="Reference"
                      data-bs-content="Drug Repurposing Hub (https://clue.io/repurposing)">
                    </i>
  </div>

<ul class="list-group list-group-flush">

<li class="list-group-item">
<div class="row">
<div class="col-md-3"><p class="font-weight-bold">Clinical phase</p></div>
<div class="col-md-3">{{ drugdesc.clinical_phase}}</div>
<div class="col-md-3"><p class="font-weight-bold">SMILES</p></div>
<div class="col-md-3"><small>{{ drugdesc.smiles}}</small></div>
</div>
</li>

<li class="list-group-item">
<div class="row">
<div class="col-md-3"><p class="font-weight-bold">Mechanism of action</p></div>
<div class="col-md-3">{{ drugdesc.moa }}</div>
<div class="col-md-3"><p class="font-weight-bold">InChIKey</p></div>
<div class="col-md-3"><small>{{ drugdesc.InChIKey }}</small></div>
</div>
</li>

<li class="list-group-item">
<div class="row">
<div class="col-md-3"><p class="font-weight-bold">Target(s)</p></div>
<div class="col-md-3">{{ drugdesc.target }}</div>
<div class="col-md-3"><p class="font-weight-bold">Mass</p></div>
<div class="col-md-3">{{ drugdesc.expected_mass }} g/mol</div>
</div>
</li>

<li class="list-group-item">
<div class="card-group row">
<div class="col-md-3"><p class="font-weight-bold">Disease area</p></div>
<div class="col-md-3">{{ drugdesc.disease_area }}</div>
<div class="col-md-3"><p class="font-weight-bold">Pubchem ID</p></div>
{% if drugdesc.pubchem_cid == 'NaN' %}
<div class="col-md-3">-</div>
{% else %}
<div class="col-md-3"><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{ drugdesc.pubchem_cid }}" class="text-decoration-none" target="_blank">{{ drugdesc.pubchem_cid }}</a></div>
{% endif %}
</div>
</li>

<li class="list-group-item">
<div class=" row">
<div class="col-md-3"><p class="font-weight-bold">Indication</p></div>
<div class="col-md-3">{{ drugdesc.indication }}</div>
<div class="col-md-3"><p class="font-weight-bold">Broad ID</p></div>
<div class="col-md-3">{{ drugdesc.broad_id }}</div>
</div>
</li>

</ul>
</div>

    </div>
  </div>
</div>

<div class="container col-10 mt-4">
  <div class="row">
    <div class="col-md-6">
      <canvas id="cellbartf" style="width:100%; height:300px;"></canvas>
    </div>
    <div class="col-md-6">
      <canvas id="cellbargenes" style="width:100%; height:300px;"></canvas>
    </div>
  </div>
  <div class="card">
  <h5 class="card-header">Networks</h5>
  <div class="card-body">
    <h5 class="card-title">Tool description</h5>
    <p class="card-text"><a href="https://netzoo.github.io/zooanimals/panda/" style="text-decoration:none" target="_blank">PANDA</a> reconstructs a gene regulatory network using TF PPI, TF DNA binding motif, and gene expression samples. <a href="https://netzoo.github.io/zooanimals/lioness/" style="text-decoration:none" target="_blank">LIONESS</a> reconstructs sample-specific <a href="https://netzoo.github.io/zooanimals/panda/" style="text-decoration:none" target="_blank">PANDA</a> networks for each gene expression sample. 
			    To download sample-specific TF and gene targeting profiles i.e., the TF weighted outdegree and gene weighted indgree in the regulatory network, you can check <a href='#carddrug' style="text-decoration:none">the phenotypic information</a> section. You can also select the networks by
                            variables such as cell line, drug dose, and sampling time point or download all the samples in a single file.</p>
        <table id="drugstable" class="table table-hover" style="width: 100%">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Drug</th>
                    <th scope="col">Tool</th>
                    <th scope="col">netZoo release</th>
                    <th scope="col">Network<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      title="Network format"
                      data-bs-content="Please refer to the Help page Network section for the network download formats. gt: gene targeting, tt: transcription factor targeting">
                    </i></th>
                    <th scope="col">PPI<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      title="Data sources"
                      data-bs-content="Directly download the PPI prior used for the generation of the network and check the link to the original PPI database and its version.">
                    </i></th>
                    <th scope="col">Motif</th>
                    <th scope="col">Expression</th>
                    <th scope="col">TFs</th>
                    <th scope="col">Genes</th>
                    <th scope="col">Samples</th>
                    <th scope="col">Precision<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      title="Computation precision"
                      data-bs-content="S=Single, D=Double">
                    </i></th>
                    <th scope="col">Reference</th>
                  </tr>
                </thead>
                <tbody>
		 {% for drug in drugslanding %}
		    <tr>
		    <th scope="row">{{ drug.number }}</th>
		    <td><a href = "{{ drug.refs }}" class="text-decoration-none" target="_blank">{{ drug.drug }}</a></td>
		    <td>{{ drug.tool }}</td>
		    <td>{{ drug.netzoo }} <a href="https://github.com/netZoo/netZooM/releases" class="text-decoration-none" target="_blank">{{ drug.netzooRel }}</a></td>
                    <td><div class="btn-group" role="group" aria-label="Basic example"><a href="#carddrug" class="btn btn-outline-primary" role="button">gt/tt</a>
                    <a href="https://granddb.s3.amazonaws.com/drugs/scripts/reproducedrug1Network.m" class="btn btn-outline-danger" role="button">Code</a><a href="#carddrug" class="btn btn-outline-success" role="button">Vis</a></div></td>
	            <td><a href="{{ drug.ppi }}"><i class="fas fa-download"></i></a> <a href="{{ drug.ppiLink }}"><i class="fas fa-link"></i></a></td>
                    <td><a href="{{ drug.motif }}"><i class="fas fa-download"></i></a></td>
                    <td><a href="{{ drug.expression }}"><i class="fas fa-download"></i></a> <a href="{{ drug.expLink}}"><i class="fas fa-link"></i></a></td>
                    <td>{{ drug.tfs }}</td>
                    <td><a href="/genes" class="text-decoration-none">{{ drug.genes }}</a></td>
                    <td><a href="#carddrug" class="text-decoration-none">{{ drug.samples }}</a> </td>
                    <td><span class="badge rounded-pill bg-success">S</span></td>
		    <td><a href="{{ drug.refs }}" target="_blank"><i class="fas fa-book"></i></a></td>
                    </tr>
		 {% endfor %}
                </tbody>
              </table>
</div>
</div>
</div>



<script>var offset=30</script>
<div class="container col-10 pb-4 mb-4 mt-4">
        <div class="card" id="carddrug">
  <h5 class="card-header">Phenotypic information</h5>
  <div class="card-body">
    <h5 class="card-title">Signature description</h5>
    <div class="row pb-4">
      <div class="col">
        <canvas id="myPieChart" width="50" height="30"></canvas>   
      </div>
      <div class="col">
        <canvas id="myPieChartETH" width="50" height="30"></canvas>   
      </div>
      <div class="col">
        <canvas id="myPieChartAL" width="50" height="30"></canvas>   
      </div>
      <div class="col">
        <canvas id="myPieChartStage" width="50" height="30"></canvas>   
      </div>
      <div class="col">
        <canvas id="myPieChartVital" width="50" height="30"></canvas>   
      </div>
    </div>
    <p class="card-text">You can either download the gene targeting (sum of weighted in-degree in the network) or TF targeting (sum of weighted out-degree in the network). You can download the targeting profiles of all the samples to get a matrix of size the number of samples by the number of genes/TFs. Otherwise, you can specify the sample targeting profile to download and you will get a TF/gene vector
            		    named after the <a href="https://clue.io/" style="text-decoration:none" target="_blank">CLUE</a> sample reference.</p>
        <table id="drugstable2" class="table table-hover" style="width: 100%">
                <thead>
                  <tr>
                    <th scope="col">Cell<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="cell and signature id">
                    </i></th>
                    <th scope="col">Dose<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="pert idose">
                    </i></th>
                    <th scope="col">Time<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="pert itime">
                    </i></th>
                    <th scope="col">Cell<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="cell type">
                    </i></th>
                    <th scope="col">Type<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="sample type">
                    </i></th>
                    <th scope="col">Site<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Primary site">
                    </i></th>
                    <th scope="col">Growth<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Original growth pattern">
                    </i></th>
                    <th scope="col">Age<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="donor age">
                    </i></th>
                    <th scope="col">Sex<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="donor sex">
                    </i></th>
                    <th scope="col">Ethnicity<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="donor ethnicity">
                    </i></th>
                    <th>Network<br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="Please refer to the help page network section for the network download formats. gt: gene targeting, tt: transcription factor targeting">
                    </i></th>
                  </tr>
                </thead>
                <tbody>
                 {% for drug in drugsample %}
                    <tr>
                    {% if drug.cell_id == 'All' %}
                    <td>{{ drug.cell_id }}</td>
                    {% else %}
                    <td>{{ drug.cell_id }}<br><i class="fas fa-info-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      title="Signature ID"
                      data-bs-content="{{ drug.sig_id }}">
                    </i></td>
                    {% endif %}
                    <td>{{ drug.pert_idose }}</td>
                    <td>{{ drug.pert_itime }}</td>
                    <td><small>{{ drug.cell_type }}</small></td>
                    <td>{{ drug.sample_type }}</td>
                    <td>{{ drug.primary_site }}</td>
                    <td>{{ drug.original_growth_pattern }}</td>
                    <td>{{ drug.donor_age }}</td>
                    <td>{{ drug.donor_sex }}</td>
                    <td>{{ drug.donor_ethnicity }}</td>
                    {% if drug.cell_id == 'All' %}
                      <td><div class="btn-group-vertical"><a href="{{ drug.links }}" class="btn btn-outline-primary" role="button">gt</a><a href="{{ drug.linksTF }}" class="btn btn-outline-primary" role="button">tt</a></div></td>
                    {% else %}  
                      <td><div class="btn-group-vertical"><a href="{{ drug.links }}" class="btn btn-outline-primary" role="button">gt</a><a href="{{ drug.linksTF }}" class="btn btn-outline-primary" role="button">tt</a><a href="/networks/drugtarg/{{ drug.cleannames }}" class="btn btn-outline-success" role="button">Vis</a></div></td>
                    {% endif %}  
                 {% endfor %}
                </tbody>
                <tfoot>
                  <tr id='tfoot2'>
                    <th>Cell</th>
                    <th>Dose</th>
                    <th>Time</th>
                    <th>Cell</th>
                    <th>Type</th>
                    <th>Site</th>
                    <th>Growth</th>
                    <th>Age</th>
                    <th>Sex</th>
                    <th>Ethnicity</th>
                    <th>Network</th>
                  </tr>
                </tfoot>
              </table>
</div>
</div>
</div>


</div>
{% include "footer.html" %}

<script>

// Basic example
$(document).ready(function() {
  $('#tfoot2 th').each( function (i) { //tcga
        var title = $(this).text();
        $(this).html( '<input size=7 id="id'+i+offset+'" type="text" placeholder="Search '+title+'" />' );
        i++;
    } );

    //datatables
    $('#drugstable').DataTable({
      "scrollX": true,
      "dom": "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-5'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
    });

} );
</script>


<script>
  var slug="{{ slug }}";
  var data2=JSON.parse("{{data|escapejs}}");
</script>

<script src="{% static 'js/exptfsdrug.js' %}"></script>
<script src="{% static 'js/pieChartdrugs.js' %}"></script>
</body>
</html>


