{% load static %} 
{% include "header.html" %}


<div class="container col-9 pb-5 mb-5 mt-4">
        <table id="drugstable" class="table table-hover" style="width: 100%">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Drug</th>
                    <th scope="col">Types of networks</th>
                  </tr>
                </thead>
              </table>
</div>

</div>
{% include "footer.html" %}

<script>

// Basic example
$(document).ready(function() {
    //datatables
    $('#drugstable').DataTable({
     "ajax": "http://127.0.0.1:8000/api/v1/drugapi/?format=datatables",

     "serverSide": true,
     "processing": true,

      "columns": [
          {"data": "number"},
          {"data": "druglink"},
          {"data": "nnets"},
      ],

      "dom": "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-5'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
    });
} );
</script>



</body>
</html>


