{% load static %} 
{% include "header.html" %}


<div class="container alert alert-info alert-dismissible fade show col-9" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>

<h4 class="alert-heading">Submission stats</h4>
<p class="mb-1">
        {{ params.0.genesup }}/{{ params.0.genesupin }} entries are valid gene IDs in the up set.
        {{ params.0.genesdown }}/{{ params.0.genesdownin }} entries are valid gene IDs in the down set.
        </p>
</div>


<div class="container col-9 pb-5 mb-5">
<div class="card text-left">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/drugresult/{{ id }}/reverse">Reverse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/drugresult/{{ id }}/similar">Similar</a>
      </li>
    </ul>
  </div>
  <div class="card-body hidden">
    &nbsp; <div class="row">
      &nbsp; &nbsp; <div class="col-1 padding-0">
      <h3><span class="badge bg-primary">Reverse</span></h3>
      </div>
      <div class="col-1 padding-0">
        &nbsp; &nbsp;<i class="far fa-question-circle"
                     data-bs-toggle="popover"
                     data-bs-trigger="hover"
                     data-bs-placement="top"
                     data-bs-animation="false"
                     data-bs-content="Top 100 compounds that have a reverse profile with the query set.">
        </i>
      </div>
      <div class="col-10 padding-0"></div>
      </div>

        <table id="drugstbl1" class="table table-hover" style="width: 100%">
                <thead>
                  <tr>
                    <th scope="col">Drug</th>
                    <th scope="col">Overlap <i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="The overlap score was computed as in Zhong et al., JASN, 2013.">
                    </i></th>
                    <th scope="col">Cosine <i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="Cosine similarity between the input vector and top 100 compounds. A cosine of 1 indicates a perfect alignment in the direction of the vectors and -1 means an opposite direction of 
                      the vectors in the n-dimensional gene space. See also Duan et al., NPJ Sys Biol Appl, 2016.">
                    </i></th>
                  </tr>
                </thead>

		 <tbody>
		 {% for dd in drugdown %}
		    <tr>
		    <td>{{ dd.drug }}</a></td>
		    <td>{{ dd.overlap }}</td>
		    <td>{{ dd.cosine }}</td>
                    </tr>
		 {% endfor %}

                </tbody>
         </table>
</div>
</div>

</div>

<div class="hidden">
{% include "footer.html" %}
</div>

<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

<script>
// Basic example
$(document).ready(function() {
    //datatables
    $('#drugstbl1').DataTable({

      "serverSide": false,
      "processing": true,
      "order": [[ 1, "desc" ]],

      buttons: [
            'copy', 'csv', 'pdf', 'print'
        ],

      "dom": "B" + "<'row'<'col-sm-12 col-md-6 mt-2'l><'col-sm-12 col-md-5'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
    });

} );
</script>

<script>
  $(document).ready(function () {
    $('div.hidden').fadeIn(500).removeClass('hidden');
});
</script>

</body>
</html>


