{% load static %} 
{% include "header.html" %}
{% load widget_tweaks %}

<div class="container alert alert-danger alert-dismissible fade show col-9" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>

<h4 class="alert-heading ">Email not sent!</h4>
<p class="mb-1 "> We could not receive your request! please try again.</p>
</div>


<div class="container">
    <div class="row">
    <div class="offset-sm-1 col-sm-9 mb-5">
            <section class="col mt-5 ml-3">
    <p> Please report any bug to the <a href="https://github.com/QuackenbushLab/grand/issues">issues</a> tab of the website github repo.</p>
    <p> For any suggestion/comment, use the following form:</p>
    <div class="form-area"> 
        <form action="{% url 'about' %}" role="form" method="post">
	 	    {% csrf_token %}
                    <div class="form-group">
                        {% render_field contactform.contact_name class="form-control" placeholder="Name" %}
                    </div>
                    <div class="form-group">
                        {% render_field contactform.contact_email class="form-control" placeholder="Email" %}
                    </div>

                    <div class="form-group">
                        {% render_field contactform.contact_subject class="form-control" placeholder="Subject" %}
                    </div>
                    <div class="form-group">
                        {% render_field contactform.content class="form-control" placeholder="Message" %}                
                    </div>

        <div class="form-actions">
        <button type="submit"  name="submit" class="btn btn-m btn-secondary">Submit</button>
        </div>
        </form>
	</section>
    </div>
    </div>
</div>

</div>
{% include "footer.html" %}

</body>
</html>

