<!-- Footer -->
<footer class="page-footer font-small lighten-3 pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h6 class="text-uppercase mb-2">Contact</h6>
          <p><a href="https://www.hsph.harvard.edu/biostatistics/" target="_blank" class="text-decoration-none">Department of Biostatistics</a>
          <br><a href="https://www.hsph.harvard.edu/" target="_blank" class="text-decoration-none">Harvard T.H. Chan School of Public Health</a></p>
        </div>
        <div class="col-md-5">
          <!-- Social buttons -->
          <h6 class="text-uppercase mb-2">License</h6>
          <a class="nav-item nav-link" target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/"><i class="fab fa-creative-commons fa-2x"></i></a>
        </div>
        <div class="col-md-1">
          <h6 class="text-uppercase mb-2">Share</h6>
          <!-- Facebook -->
          <a href="http://www.facebook.com/sharer/sharer.php?u=http://hsph.harvard.edu" type="button" class="btn-floating btn-fb">
            <i class="fab fa-facebook-square fa-2x"></i>
          </a>
          <!-- Twitter -->
          <a type="button" class="btn-floating btn-fb" href="https://twitter.com/intent/tweet?text=GRAND: Integrated gene regulatory network database of cell lines, tissues, and small molecules. https://grand.networkmedicine.org">
            <i class="fab fa-twitter-square fa-2x"></i>
          </a>
         <!-- Linkedin -->
          <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://grand.networkmedicine.org" type="button" class="btn-floating btn-fb">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
          <a href="/about" type="button" class="btn-floating btn-fb">
            <i class="fas fa-envelope-square fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
</footer>


<script>
  $(document).ready(function ($) {
      var url = window.location.href;
      var activePage = url;
      var segments = window.location.href.split( '/' )[3];
      $('.navbar-nav a').each(function () {
          var linkPage = this.href;
          var segments2 = linkPage.split( '/' )[3];
          var list1 = ['drugs','cancers','tissues','cells']; 
          var list2 = ['analysis','disease'];
          if (segments == segments2) {
              $(this).closest("a").addClass("active");
          }
          if ( (segments == segments2) && (list1.includes(segments2)) ){
              $('#navbarDropdown1').addClass('active');
              return;
          } else if ( (segments == segments2) && (list2.includes(segments2)) ){
              $('#navbarDropdown2').addClass('active');
              return;
          }

      });
  });
</script>


<script>
  $(document).ready(function() {
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
} );
</script>