{% load static %} 
{% include "header.html" %}


<div class="container col-10 pb-5 mt-4">
  <div class="card">
  <h5 class="card-header">Genes</h5>
  <div class="card-body">
    <h5 class="card-title">Annotation of genes used in drug networks </h5>
    <p class="card-text">The <a href="/drugs" target="_blank" style="text-decoration:none">drug networks</a> were built using the <a href='https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE92742' target="_blank" style="text-decoration:none">phase 1</a> and <a href='https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE70138' target="_blank" style="text-decoration:none">phase 2</a> transcriptomic profiles of drug experiments from the CLUE resource, which uses the L1000 technology. 
         The L1000 technology measures the expression 978 genes after drug exposure. These genes are called the landmark genes. Then an additional set of genes are computationally inferred to bring the total to 10,174 genes, this set is referred to as the Best Inferred Genes (BING). Finally, an additional set of genes that was less accurately inferred is added to bring the AIG (All Inferred Genes) to 12,328. 
         You can find more information on L1000 in the <a href='https://clue.io/connectopedia/' target="_blank" style="text-decoration:none">CLUE</a> database.</p>
        <table id="genestable" class="table table-hover" style="width: 100%">
                <thead>
                  <tr>
                    <th scope="col">ID <br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="gene id">
                    </i></th>
                    <th scope="col">Symbol <br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="gene symbol">
                    </i></th>
                   <th scope="col">Title <br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      data-bs-animation="false"
                      data-bs-content="gene function">
                    </i></th>
                   <th scope="col">Landmark <br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="is landmark gene (is lm)" >
                    </i></th>
                    <th scope="col">BING <br><i class="far fa-question-circle"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-content="is Best Inferred Gene (is bing)">
                    </i></th>
                  </tr>
                </thead>
              </table>
  </div>
  </div>
</div>

</div>
{% include "footer.html" %}


<script>
// Basic example
$(document).ready(function() {
    //datatables
    $('#genestable').DataTable({
     "ajax": "https://grand.networkmedicine.org/api/v1/geneapi/?format=datatables",

     "serverSide": true,
     "processing": true,

     "columns": [
          {"data": "pr_gene_id"},
          {"data": "pr_gene_symbol"},
          {"data": "pr_gene_title"},
          {"data": "pr_is_lm"},
          {"data": "pr_is_bing"},
      ],

      "dom": "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-5'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
    });
} );
</script>

</body>
</html>


