{% load static %} 
{% include "header.html" %}

<header class="jumbotron jumbotron-fluid">
  <div class="container">
      <div class="display-2 mb-4"></div>
      <p class="lead" align="justify">GRAND is a collection of gene regulatory networks of <a href="/tissues" class="text-decoration-none">human tissues</a>, <a href="/cancerlanding" class="text-decoration-none">cancer</a>, <a href="/cell" class="text-decoration-none">cell lines</a>, and <a href="/drugs" class="text-decoration-none">small molecule</a> effects. The networks are bipartite graphs linking Transcription Factors (TFs) and miRNAs to their target genes. 
      GRAND integrates a webserver to test the <a href='/disease' class="text-decoration-none">enrichment</a> of a list of TFs in a set of libraries or <a href="/analysis" class="text-decoration-none">find compounds</a> that reverse/exacerbate a gene or TF regulatory profile. To date, we analyzed {{ params.0.genesupin }} gene sets.</p>
    </div>
</header>

<div class="container mb-5 ">

      <div class="card-group">
      <!-- Drugs --> 
      <div class="card " style="width: 13rem;">
        <img class="card-img-top" src="{% static 'images/drugs.svg' %}" alt="Drugs">
        <a href="drugs/" class="btn btn-secondary" >Small molecules</a>
        <div class="card-body">
          <p class="card-text">2858 drug-induced gene regulatory networks computed from the <a href="https://clue.io" class="text-decoration-none">CLUE</a> gene expression collection and <a href='https://clue.io/repurposing' class="text-decoration-none">DRH</a>  database.</p>
        </div>
      </div>

      <!-- Cancer -->
      <div class="card " style="width: 13rem;">
        <img class="card-img-top" src="{% static 'images/cancer.svg' %}" alt="Cancer">
        <a href="cancers/" class="btn btn-secondary ">Cancer</a>
        <div class="card-body">
          <p class="card-text">1638 patient-specific regulatory networks across 4 cancer types using expression data from <a href="https://www.cancer.gov/about-nci/organization/ccg/research/structural-genomics/tcga" class="text-decoration-none">TCGA</a> and <a href="https://www.ncbi.nlm.nih.gov/geo/" class="text-decoration-none"> GEO</a>.</p>
        </div>
      </div>

      <!-- Tissues -->
      <div class="card " style="width: 13rem;">
        <img class="card-img-top" src="{% static 'images/tissues.svg' %}" alt="Tissues">
        <a href="tissues/" class="btn btn-secondary">Tissues</a>
        <div class="card-body">
          <p class="card-text">38 tissue-specific x 2 regulation types and 8279 single-sample gene regulatory network using <a href="https://gtexportal.org/" class="text-decoration-none">GTEx</a> gene expression collection.</p>
        </div>
      </div>

      <!-- Cell lines -->
      <div class="card " style="width: 13rem;">
        <img class="card-img-top" src="{% static 'images/cells.svg' %}" alt="Cell lines">
        <a href="cell/" class="btn btn-secondary">Cell lines</a>
        <div class="card-body">
          <p class="card-text">6 gene regulatory networks for 3 cell lines and many more in development.</p>
        </div>
      </div>

      </div> <!-- card group-->
</div><!-- content container -->


</div>
{% include "footer.html" %}

</body>
</html>

