{% load static %} 
{% include "header.html" %}
{% load widget_tweaks %}

{% if tfgeneseltar != 'nosel' %}
<div class="container alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>

<h4 class="alert-heading">Submission stats</h4>
<p class="mb-1">
  {% if tfgeneseltar == 'by gene' %}
    {% if found == 'found' %}
    {{ ngenesfound }} genes found in network among {{ ngwas }} genes entered
    {% else %}
    Gene list not found, plotting network without gene filtering
    {% endif %}
  {% elif tfgeneseltar == 'by GO' %}
    {% if found == 'found' %}
    GO term found!
    {{ ngenesfound }} genes found among {{ ngwas }} genes in GO term
    {% else %}
    GO term not found, plotting network without GO filtering
    {% endif %}
  {% elif tfgeneseltar == 'by GWAS' %}
    {% if found == 'found' %}
    GWAS trait found!
    {{ ngenesfound }} genes found among {{ ngwas }} genes in GWAS trait
    {% else %}
    GWAS trait not found, plotting network without GWAS filtering
    {% endif %}
  {% elif tfgeneseltar == 'by tf' %}
    {% if found == 'found' %}
    {{ ngenesfound }} TFs found in network among {{ ngwas }} TFs entered
    {% else %}
    TF list not found, plotting network without TF filtering
    {% endif %}
  {% endif %}
        </p>
</div>
{% endif %}

<div class='container pt-3 pb-4'>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  {% if activetab == 'uptab' %}
                    <a class="nav-link active" id="up-tab" data-bs-toggle="tab" href="#up" role="tab" aria-controls="ppi" aria-selected="false">1. Upload network</a>
                  {% else %}
                    <a class="nav-link" id="up-tab" data-bs-toggle="tab" href="#up" role="tab" aria-controls="ppi" aria-selected="false">1. Upload network</a>
                  {% endif %}
                </li>
                <li class="nav-item" role="presentation">
                  {% if activetab == 'tar' %}
                    <a class="nav-link" id="home-tab" data-bs-toggle="tab" href="#network" role="tab" aria-controls="network" aria-selected="true">2. Visualize network</a>
                  {% elif activetab == 'uptab' %}
                    <a class="nav-link" id="home-tab" data-bs-toggle="tab" href="#network" role="tab" aria-controls="network" aria-selected="true">2. Visualize network</a>
                  {% else %}
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#network" role="tab" aria-controls="network" aria-selected="true">2. Visualize network</a>
                  {% endif %}
                  <img src="{% static 'images/network.svg' %}" style="width: 115px; height:25px">
                </li>
                <li class="nav-item" role="presentation">
                  {% if activetab == 'tar' %}
                    <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#tar" role="tab" aria-controls="tar" aria-selected="false">3. Compute targeting</a>
                  {% else %}
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tar" role="tab" aria-controls="tar" aria-selected="false">3. Compute targeting</a>
                  {% endif %}
                </li>
          </ul>
        </div>


        <div class="tab-content" id="myTabContent">
          {% if activetab == 'tar' %}
            <div class="tab-pane fade" id="network" role="tabpanel" aria-labelledby="home-tab">
          {% elif activetab == 'uptab' %}
            <div class="tab-pane fade" id="network" role="tabpanel" aria-labelledby="home-tab">
          {% else %}
            <div class="tab-pane fade show active" id="network" role="tabpanel" aria-labelledby="home-tab">
          {% endif %}
          <div class='container'>
                  <div class="row">
                    <div class="col-2 border border-secondary">
                      <h5><span class="badge bg-secondary">Edges</span></h5>
                      <div>
                        <label for="myEdge" class="form-label">Number of edges</label>
                        <form action="{% url 'ownnet' slug %}" role="form" method="post">
                          {% csrf_token %}
                          {{ netform.nedges }}
                          <p>Value: <span id="demo2"></span></p>
                          <div class="form-group">
                            {% for radio in netform.topbottom %}
                              <small>{{ radio }}</small>
                            {% endfor %}
                          </div>
                          <div class='row'>
                            <div class='col-md-10 offset-md-2'>
                              <div style="float: left;">
                                {{ netform.brd }} <small>Weighted edges</small>
                              </div>
                              <div style="float: left;">
                                {{ netform.absval }} <small><a href="#"
                                  data-bs-toggle="popover"
                                  data-bs-animation="false"
                                  data-bs-placement="top"
                                  data-bs-html="true"
                                  data-bs-content="Absolute value of edges">
                                Absolute value</a></small>
                              </div>
                            </div>
                          </div>
                        <br>
                          <h5><span class="badge bg-secondary">Node scaling</span></h5>
                          <div class='row'>
                            <div class='col-md-10 offset-md-2'>
                          <div style="float: left;">
                          {{ netform.dt.0 }} <small>No scaling</small>
                          </div>
                          <div style="float: left;">
                          {{ netform.dt.1 }} <small>Scale by <a href="#"
                            data-bs-toggle="popover"
                            data-bs-animation="false"
                            data-bs-placement="top"
                            data-bs-html="true"
                            data-bs-content="Scale node size by targeting score. More about targeting score in <a href='https://grand.networkmedicine.org/help/#wiki'>GRAND help page</a>">
                          targeting</a></small>
                        </div>
                        <div style="float: left;">
                          {{ netform.dt.3 }} <small>Scale by <a href="#"
                            data-bs-toggle="popover"
                            data-bs-animation="false"
                            data-bs-placement="top"
                            data-bs-html="true"
                            data-bs-content="Scale node size by betweness centrality measured in the selected subnetwork.">
                          betweeness</a></small>
                        </div>
                          </div>
                        </div>
                        <br>
                        <h5><span class="badge bg-secondary">Selection</span></h5>
                        <div class='row'>
                          <div class='col-md-10 offset-md-2'>
                        <div style="float: left;">
                        {{ netform.tfgenesel.0 }} <small>No selection</small>
                        </div>
                        <br>
                        <div style="float: left;">
                        {{ netform.tfgenesel.1 }} <small>by <a href="#"
                          data-bs-toggle="popover"
                          data-bs-animation="false"
                          data-bs-placement="top"
                          data-bs-html="true"
                          data-bs-content="Enter Gene names by ENSG ID, gene symbols, or mixed lists, with each gene in a new line">
                        gene</a></small>
                      </div>
                      <br>
                      {{ netform.geneform }}
                      <br>
                      <div style="float: left;">
                        {{ netform.tfgenesel.2 }} <small>by <a href="#"
                          data-bs-toggle="popover"
                          data-bs-animation="false"
                          data-bs-placement="top"
                          data-bs-html="true"
                          data-bs-content="Enter TF names by ENSG ID, gene symbols, or mixed lists, with TF in a new line">
                        TF</a></small>
                      </div>
                      <br>
                      {{ netform.tfform }}
                      <br>
                      <div style="float: left;">
                        {{ netform.tfgenesel.3 }} <small>by <a href="#"
                          data-bs-toggle="popover"
                          data-bs-animation="false"
                          data-bs-placement="top"
                          data-bs-html="true"
                          data-bs-content="Enter GO term ID for example GO:0060148. Please check <a href='https://grand.networkmedicine.org/pathways/' target='_blank'>the pathway page</a> for a full term list.">
                        GO</a></small>
                      </div>
                      <br>
                      {{ netform.goform }}
                      <br>
                      <div style="float: left;">
                        {{ netform.tfgenesel.4 }} <small>by <a href="#"
                          data-bs-toggle="popover"
                          data-bs-animation="false"
                          data-bs-placement="top"
                          data-bs-html="true"
                          data-bs-content="Enter GWAS catalog term for example AIDS progression. Please check <a href='https://grand.networkmedicine.org/gwascatalog/' target='_blank'>the GWAS catalog page</a> for a full term list.">
                        GWAS</a></small>
                      </div>
                      <br>
                      {{ netform.gwasform }}
                        </div>
                      </div>
                        <br>
                        <br>
                        <div class="form-actions button-box">
                          <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Info
                            </button>
                            <a href="#" class="btn btn-outline-success" id="btn-download" download="subnetwork.png" >Save</a>
                          <button type="submit"  name="submit" class="btn btn-primary" id="btnFetch">
                            <span id="mySpinner" class="d-none">
                            <span class="spinner-border spinner-grow-sm text-light" role="status" aria-hidden="true"></span>
                            </span>
                            Submit</button>
                            </div>
                        </div>
                        </form>
                        <br>
                        <br>
                        <p id="selection"></p>
                      </div>
                    </div>
                    
                    <div class="col-10 border border-secondary padding-0">
                      <div id="mynetwork" width=100% height=100%></div> 
                      <div class="accordion" id="accordionExampleNN">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOneNN">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneNN" aria-expanded="true" aria-controls="collapseOneNN">
                              Configuration panel
                            </button>
                          </h2>
                          <div id="collapseOneNN" class="accordion-collapse collapse" aria-labelledby="headingOneNN" data-bs-parent="#accordionExampleNN">
                            <div class="accordion-body">
                              <div id="config"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <ul class="list-group list-group-flush">
                </div>
                <div class="card">
                <div class="card-header">Edge weights table</div>
                <div class="container col-10 mt-3 pb-3">
                  <table id="drugstable2" class="table table-hover" style="width: 100%">
                    <thead>
                      <tr>
                        <th scope="col">Source</th>
                        <th scope="col">Target</th>
                        <th scope="col">Edge weight</th>
                      </tr>
                    </thead>
                  </table>
                  </div>
                </ul>
              </div>

            </div>


        <!-- UPLOAD NETWORK -->
        {% if activetab == 'uptab' %}
          <div class="tab-pane fade show active" id="up" role="tabpanel" aria-labelledby="up-tab">
        {% else %}
          <div class="tab-pane fade" id="up" role="tabpanel" aria-labelledby="up-tab">
        {% endif %}
        <div class="container">
              {% if documents %}
              <ul>
                {% for document in documents %}
                    {% if document.idd == slug %}
                      Loaded model: <a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a>
                    {% endif %}
                {% endfor %}
              </ul>
                {% else %}
                    <p>No documents.</p>
                {% endif %}
            <!-- Upload form. Note enctype attribute! -->
            <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ docform.non_field_errors }}</p>
                <p>
                    {{ docform.docfile.errors }}
                    {{ docform.docfile }}
                </p>
                max. 500 megabytes
                <p><input type="submit" value="Upload" /></p>
                <br><br>
                <p>The network format should be an adjacency matrix representing a set of regulators (TFs/miRNA) in the rows and a set of target genes in the columns, with regulator names as row names and gene names as columns names.
                Here is an <a style="text-decoration:none" href="https://granddb.s3.us-east-2.amazonaws.com/Colon_cancer_TCGA_example.csv">example file</a> for reference.</p>
                After uploading the network in the first tab (1. Upload network), you can visualize the network in the second tab (2. Visualize network) by clicking submit after selecting the parameters of interest. Or you can switch to the third tab (3. Compute targeting) to perform an exploratory analysis of the network including enrichment and drug repurposing analysis.
                <br>
                <div class="row">
                  <div class="col">
                  <h4 id="navigation" class="text-primary">Network view</h4>
                  <img src="https://granddb.s3.us-east-2.amazonaws.com/gifs/network.gif" width="500" height="250">
                </div>
                <div class="col">
                <h4 id="navigation" class="text-primary">Targeting view</h4>
                <img src="https://granddb.s3.us-east-2.amazonaws.com/gifs/targeting.gif" width="500" height="250">
                </div>
              </div>
            </form>
          </div>
        </div>


        <!-- Targeting -->
        {% if activetab == 'tar' %}
          <div class="tab-pane fade show active" id="tar" role="tabpanel" aria-labelledby="home-tab">
        {% else %}
        <div class="tab-pane fade " id="tar" role="tabpanel" aria-labelledby="home-tab">
        {% endif %}
          <div class='container'>
            <div class="row">
              <div class="col-2 border border-secondary">
                <h5><span class="badge bg-secondary">Genes</span></h5>
                <div>
                  <form action="{% url 'owntaragg' slug %}" role="form" method="post">
                    {% csrf_token %}
                    {{ tarform.nedgestar }}
                    <p>Value: <span id="demo2Tar"></span></p>
                    <div class="form-group">
                      {% for radio in tarform.topbottomtar %}
                        <small>{{ radio }}</small>
                      {% endfor %}
                    </div>
                    <div class='row'>
                      <div class='col-md-10 offset-md-2'>
                        <div style="float: left;">
                          {{ tarform.absvaltar }} <small><a href="#"
                            data-bs-toggle="popover"
                            data-bs-animation="false"
                            data-bs-placement="top"
                            data-bs-html="true"
                            data-bs-content="Absolute value of targeting score">
                          Absolute value</a></small>
                        </div>
                      </div>
                    </div>
                    <br>
                    <h5><span class="badge bg-secondary">Selection</span></h5>
                    <div class='row'>
                      <div class='col-md-10 offset-md-2'>
                    <div style="float: left;">
                    {{ tarform.tfgeneseltar.0 }} <small>No selection</small>
                    </div>
                    <br>
                    <div style="float: left;">
                    {{ tarform.tfgeneseltar.1 }} <small>by <a href="#"
                      data-bs-toggle="popover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-html="true"
                      data-bs-content="Enter Gene names by ENSG ID, gene symbols, or mixed lists, with each gene in a new line">
                    gene</a></small>
                  </div>
                  <br>
                  {{ tarform.geneformtar }}
                  <br>
                  <div style="float: left;">
                    {{ tarform.tfgeneseltar.2 }} <small>by <a href="#"
                      data-bs-toggle="popover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-html="true"
                      data-bs-content="Enter GO term ID for example GO:0060148. Please check <a href='https://grand.networkmedicine.org/pathways/'>the pathway page</a> for a full term list.">
                    GO</a></small>
                  </div>
                  <br>
                  {{ tarform.goformtar }}
                  <br>
                  <div style="float: left;">
                    {{ tarform.tfgeneseltar.3 }} <small>by <a href="#"
                      data-bs-toggle="popover"
                      data-bs-animation="false"
                      data-bs-placement="top"
                      data-bs-html="true"
                      data-bs-content="Enter GWAS catalog term for example AIDS progression. Please check <a href='https://grand.networkmedicine.org/gwascatalog/'>the GWAS catalog page</a> for a full term list.">
                    GWAS</a></small>
                  </div>
                  <br>
                  {{ tarform.gwasformtar }}
                    </div>
                  </div>
                  <br>

                    <h5><span class="badge bg-secondary">TFs</span></h5>
                        {{ tarform.nedgestartf }}
                        <p>Value: <span id="demo2Tartf"></span></p>
                        <div class="form-group">
                          {% for radio in tarform.topbottomtartf %}
                            <small>{{ radio }}</small>
                          {% endfor %}
                        </div>
                        <div class='row'>
                          <div class='col-md-10 offset-md-2'>
                            <div style="float: left;">
                              {{ tarform.absvaltartf }} <small><a href="#"
                                data-bs-toggle="popover"
                                data-bs-animation="false"
                                data-bs-placement="top"
                                data-bs-html="true"
                                data-bs-content="Absolute value of targeting score">
                              Absolute value</a></small>
                            </div>
                          </div>
                        </div>
                  <br>
                  <br>
                  <div class="form-actions button-box">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Info
                      </button>
                    <button type="submit"  name="submit" class="btn btn-primary" id="btnFetchTar">
                      <span id="mySpinnerTar" class="d-none">
                      <span class="spinner-border spinner-grow-sm text-light" role="status" aria-hidden="true"></span>
                      </span>
                      Submit</button>
                      </div>
                  </div>
                </form>
                  <br>
                  <h5><span class="badge bg-secondary">Analysis</span></h5>
                  <small>Analyze the submitted list of targeted genes/TFs for downstream analysis.</small>
                  <br>
                  <br>
                  <small>1. Enrichment analysis</small>
                  <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModalenrich">
                      Info
                    </button>
                    <a class="btn btn-outline-primary disabled" role="button">Enrich</a>
                    <a class="btn btn-outline-primary" href="{% url 'disease' %}" role="button">TFs</a>
                  </div>
                  <br><br>
                  <small>2. Drug repurposing</small>
                  <form action="{% url 'cluesubmit' 'colon_cancer1' %}" role="form" method="post">
                    {% csrf_token %}
                    {{ clueform.tfgeneselclue.0 }}<small>
                     By gene</small>
                    {{ clueform.tfgeneselclue.1 }}<small>
                     By TF</small>
                  <br><br>
                  <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModalclue">
                      Info
                    </button>
                    <button type="submit"  name="submit" class="btn btn-primary" id="btnFetchTarclue">
                      <span id="mySpinnerTar" class="d-none">
                      <span class="spinner-border spinner-grow-sm text-light" role="status" aria-hidden="true"></span>
                      </span>
                      CLUEreg</button>
                  </div>
                </form>
                  <br>
                  <br>
                </div>
              </div>
              <div class='col border border-secondary padding-0'> 
              <div class="row-4 ">
                <canvas id="tftardiv" style="width:100%; height:400px;"></canvas>
              </div>
              <div class="row-4 ">
                <canvas id="genetardiv" style="width:100%; height:400px;"></canvas>
              </div>
              </div>
            </div>
          </div>

          <div class="card">
            <ul class="list-group list-group-flush">
          </div>
          <div class="card">
          <div class="card-header">Gene Targeting score</div>
          <div class="container col-10 mt-3 pb-3">
            <table id="drugstable3" class="table table-hover" style="width: 100%">
              <thead>
                <tr>
                  <th scope="col">Gene</th>
                  <th scope="col">Targeting score</th>
                </tr>
              </thead>
            </table>
            </div>
            <div class="card">
              <div class="card-header">TF Targeting score</div>
              <div class="container col-10 mt-3 pb-3">
            <table id="drugstable4" class="table table-hover" style="width: 100%">
              <thead>
                <tr>
                  <th scope="col">Regulator</th>
                  <th scope="col">Targeting score</th>
                </tr>
              </thead>
            </table>
            </div>
            </div>
          </ul>
        </div>

          </div>
          </div>
      </div>
    

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Legend information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="text-align:left">Targeting refers to a bipartite network metric. For genes, targeting is the weighted indegree. For TFs, it represents the weighted outdegree.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Enrich-->
<div class="modal fade" id="exampleModalenrich" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="text-align:left">The enrich function submits the selected TFs for enrichment analysis.</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Enrich-->
<div class="modal fade" id="exampleModalclue" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="text-align:left">The CLUEreg function submits the selected TFs/Genes in CLUEreg, which finds optimal compounds that reverse the TF/Gene profile. High-targeted genes/TFs are those that have a positive z-score and low-targeted genes are those with negative z-score. CLUEreg requires both high-targeted and low-targeted genes/TFs to be nonempty sets.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</div><!-- End div for container-->


{% include "footer.html" %}

<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

<script>
  $(document).ready(function() {
    var edges = JSON.parse("{{edges|escapejs}}"); 
      //datatables
      $('#drugstable2').DataTable({
        "data": edges,
        "order": [[ 2, "desc" ]],
        "columns": [
           {"data": "sourcelabel"},
           {"data": "targetlabel"},
           {"data": "dispval"},
       ],
       buttons: [
                'copy', 'csv', 'pdf', 'print'
            ],
        "dom": "B" + "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-5'f>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
      });
      
  
  } );
</script>

<script>
  var slug="{{ slug }}";
  var slidertartf = document.getElementById("myEdgeTartf");
  var outputtartf = document.getElementById("demo2Tartf");
  outputtartf.innerHTML = slidertartf.value;
  
  slidertartf.oninput = function() {
    outputtartf.innerHTML = this.value;
  }
  var slidertar = document.getElementById("myEdgeTar");
  var outputtar = document.getElementById("demo2Tar");
  outputtar.innerHTML = slidertar.value;
  
  slidertar.oninput = function() {
    outputtar.innerHTML = this.value;
  }
  var slider = document.getElementById("myEdge");
  var output = document.getElementById("demo2");
  output.innerHTML = slider.value;
  
  slider.oninput = function() {
    output.innerHTML = this.value;
  }
  var nodes = JSON.parse("{{nodes|escapejs}}");  
  var edges = JSON.parse("{{edges|escapejs}}"); 
</script> 
<script>

  $(document).ready(function() {
      $("#btnFetch").click(function() {
          $("#mySpinner").removeClass("d-none")
      })
      $("#btnFetchTar").click(function() {
          $("#mySpinnerTar").removeClass("d-none")
      })
  });
  </script>
<script src="{% static 'js/networksagg.js' %}"></script>

<script>

  if(document.getElementById('absval')==null){
    document.getElementById('id_absval').onchange = function() {
        document.getElementById('id_brd').checked = this.checked;

    };
  }else if(document.getElementById('id_absval')==null){
    document.getElementById('absval').onchange = function() {
        document.getElementById('brd').checked = this.checked;
    };
  }
</script>

<script>
var tftarscore = JSON.parse("{{tftarscore|escapejs}}");  
var genetarscore = JSON.parse("{{genetarscore|escapejs}}"); 
</script>
<script src="{% static 'js/bartar.js' %}"></script>

<script>
  $(document).ready(function() {
    var genetarscore = JSON.parse("{{genetarscore|escapejs}}"); 
      //datatables
      $('#drugstable3').DataTable({
        "data": genetarscore,
        "order": [[ 1, "desc" ]],
        "columns": [
           {"data": "index"},
           {"data": "tar"},
       ],
       buttons: [
                'copy', 'csv', 'pdf', 'print'
            ],
        "dom": "B" + "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-5'f>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
      });
      
  
  } );
</script>

<script>
  $(document).ready(function() {
    var tftarscore = JSON.parse("{{tftarscore|escapejs}}");  
      //datatables
      $('#drugstable4').DataTable({
        "data": tftarscore,
        "order": [[ 1, "desc" ]],
        "columns": [
           {"data": "TF"},
           {"data": "tar"},
       ],
       buttons: [
                'copy', 'csv', 'pdf', 'print'
            ],
        "dom": "B" + "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-5'f>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
      });
      
  
  } );
</script>
</body>
</html>