{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <title>Bootstrap</title>
</head>
<body>

{% load widget_tweaks %}

<!-- Header -->
<nav class="navbar bg-dark navbar-dark navbar-expand-sm">
    <div class="container">
        <a class="navbar-brand m-0" href="/">
            <img src="{% static 'images/logo.svg' %}" style="width: 400px;">
        </a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Networks</a>
            <div class="dropdown-menu">
              <a href="/drugs" class="dropdown-item">Small molecules</a>
              <a href="/cell" class="dropdown-item">Cell lines</a>
              <a href="/tissues" class="dropdown-item">Tissues</a>
            </div>
          </li>
            <a class="nav-item nav-link" href="#">Analysis</a>
            <a class="nav-item nav-link" href="#">Funding</a>
            <a class="nav-item nav-link" href="/about">About</a>
            <a class="nav-item nav-link" href="https://github.com/QuackenbushLab/grand"><i class="fab fa-github fa-lg"></i></a>
        </div>
    </div>
  </nav>

<!-- Footer -->
<nav class="navbar navbar-dark navbar-expand-sm fixed-bottom bg-dark">
  <div class="container">
      <a class="navbar-brand m-0" href="https://www.hsph.harvard.edu/biostatistics/">
          <img src="{% static 'images/footer-01.svg' %}" style="width: 400px;">
      </a>
      <div class="navbar-nav navbar-expand-sm">
          <a class="nav-item nav-link" href="https://twitter.com/intent/tweet?text=http://hsph.harvard.edu"><i class="fab fa-twitter-square fa-2x"></i></a>
          <a class="nav-item nav-link" href="http://www.facebook.com/sharer/sharer.php?u=http://hsph.harvard.edu"><i class="fab fa-facebook-square fa-2x"></i></a>
          <a class="nav-item nav-link" href="https://www.linkedin.com/sharing/share-offsite/?url=http://hsph.harvard.edu"><i class="fab fa-linkedin fa-2x"></i></a>
          <a class="nav-item nav-link" href="mailto:aa@aa.com"><i class="fas fa-envelope-square fa-2x"></i></a>
          <a class="nav-item nav-link" href="https://creativecommons.org/licenses/by-sa/4.0/"><i class="fab fa-creative-commons fa-2x"></i></a>
      </div>
  </div>
</nav>

<div class="container alert alert-info alert-dismissible fade show col-9">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

<h4 class="alert-heading">Email sent!</h4>
<p class="mb-1"> Thank you for contacting us! We will reach out to you soon.</p>
</div>

<div class="container">
    <div class="col">
            <section class="col-9 ml-3">
    <p> Please report any bug to the <a href="https://github.com/QuackenbushLab/grand/issues">issues</a> tab of the website github repo.</p>
    <p> For any suggestion/comment, use the following form:</p>
    <div class="form-area"> 
        <form action="{% url 'about' %}" role="form" method="post">
	 	    {% csrf_token %}
                    <div class="form-group">
                        {% render_field contactform.contact_name class="form-control" placeholder="Name" %}
                    </div>
                    <div class="form-group">
                        {% render_field contactform.contact_email class="form-control" placeholder="Email" %}
                    </div>

                    <div class="form-group">
                        {% render_field contactform.contact_subject class="form-control" placeholder="Subject" %}
                    </div>
                    <div class="form-group">
                        {% render_field contactform.content class="form-control" placeholder="Message" %}                
                    </div>

        <div class="form-actions">
        <button type="submit"  name="submit" class="btn btn-m btn-secondary">Submit</button>
        </div>
        </form>
	</section>
    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="{% static 'js/jquery.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

