{% load static %} 
{% include "header.html" %}

    <div class="container col-9 pb-5 mb-5 mt-4">
        <table id="tissuestable" class="table table-hover" style="width: 100%">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tissue</th>
                    <th scope="col">Types of networks</th>
                  </tr>
                </thead>
                <tbody>
		 {% for tissue in tissues %}
		    <tr>
		    <th scope="row">{{ forloop.counter }}</th>
		    <td><a href="{{ tissue.tissue}}_tissue" class="text-decoration-none">{{ tissue.tissue }}</a></td>
                    <td>{{ tissue.nnets }}</td>
                    </tr>
		 {% endfor %}
                </tbody>
              </table>
</div>

</div>
{% include "footer.html" %}


<script>

// Basic example
$(document).ready(function() {
    //datatables
    $('#tissuestable').DataTable({
      "dom": "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-5'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
    });
} );
</script>



</body>
</html>


